<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish15_000.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_002.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_004.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_006.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_008.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_010.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_012.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_014.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_016.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_018.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish15_019.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yu13_buyu0.png</string>
			<key>realTextureFileName</key>
			<string>yu13_buyu0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>