<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>im_ball_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,166},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,166},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,36},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,36},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,70},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,104},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,138},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,2},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,2},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,36},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,70},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,104},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,2},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,36},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,70},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,2},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,36},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,134},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,134},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,168},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,102},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,102},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,136},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,70},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,70},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,104},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,170},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>im_ball_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,138},{30,30}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ball.png</string>
      <key>size</key>
      <string>{162,202}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:8b90cf54a7bd0adc7551dabdba77a4c5:1/1$</string>
      <key>textureFileName</key>
      <string>ball.png</string>
    </dict>
  </dict>
</plist>

