<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongseshandianpao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{74,136}</string>
            </dict>
            <key>hongseshandianpao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{74,136}</string>
            </dict>
            <key>hongseshandianpao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{74,136}</string>
            </dict>
            <key>hongshandian2pao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,126},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,140},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,140},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,140},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandian2pao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>hongshandiantuotuo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,154},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>hongshandiantuotuo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,154},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>hongshandiantuotuo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,82},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>hongshandiantuotuo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,82},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>hongshandiantuotuo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,154},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>hongshandiantuotuo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,82},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>shanguangpao10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,82},{81,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao2buff_buyu0.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5c4d5c7e49d516d50352db2cb518304$</string>
            <key>textureFileName</key>
            <string>pao2buff_buyu0.png</string>
        </dict>
    </dict>
</plist>
