<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>rbwImg2/bet_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{835,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{835,178}}</string>
        <key>sourceSize</key>
        <string>{835,178}</string>
      </dict>
      <key>rbwImg2/bet_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,2},{937,70}}</string>
        <key>offset</key>
        <string>{-12,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,0},{937,70}}</string>
        <key>sourceSize</key>
        <string>{975,70}</string>
      </dict>
      <key>rbwImg2/bg_l.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,182},{642,722}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{642,722}}</string>
        <key>sourceSize</key>
        <string>{642,722}</string>
      </dict>
      <key>rbwImg2/bg_r.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,182},{642,721}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{642,721}}</string>
        <key>sourceSize</key>
        <string>{642,721}</string>
      </dict>
      <key>rbwImg2/board_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,182},{718,562}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{718,562}}</string>
        <key>sourceSize</key>
        <string>{720,562}</string>
      </dict>
      <key>rbwImg2/chart_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,906},{848,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{848,52}}</string>
        <key>sourceSize</key>
        <string>{848,52}</string>
      </dict>
      <key>rbwImg2/chart_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,906},{813,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{813,192}}</string>
        <key>sourceSize</key>
        <string>{813,192}</string>
      </dict>
      <key>rbwImg2/chart_board1bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,906},{303,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{303,55}}</string>
        <key>sourceSize</key>
        <string>{303,55}</string>
      </dict>
      <key>rbwImg2/heisheng_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1100},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/heisheng_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,1100},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/heisheng_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1100},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/hongsheng_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,1100},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/hongsheng_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1426},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/hongsheng_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,1426},{422,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{422,324}}</string>
        <key>sourceSize</key>
        <string>{422,324}</string>
      </dict>
      <key>rbwImg2/jckj_cd.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1426},{931,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{931,109}}</string>
        <key>sourceSize</key>
        <string>{931,109}</string>
      </dict>
      <key>rbwImg2/xyyj_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1752},{542,260}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{542,260}}</string>
        <key>sourceSize</key>
        <string>{542,262}</string>
      </dict>
      <key>rbwImg2/xyyj_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1752},{542,260}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{542,260}}</string>
        <key>sourceSize</key>
        <string>{542,262}</string>
      </dict>
      <key>rbwImg2/xyyj_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,1752},{540,252}}</string>
        <key>offset</key>
        <string>{1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{540,252}}</string>
        <key>sourceSize</key>
        <string>{542,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rbwarCCSImg2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:10e64d1f2749ca4adde13d2eefc9b9ea:1/1$</string>
      <key>textureFileName</key>
      <string>rbwarCCSImg2.png</string>
    </dict>
  </dict>
</plist>

