<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>game/lord/gui-card/color-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,339},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>game/lord/gui-card/color-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,339},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>game/lord/gui-card/color-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,373},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>game/lord/gui-card/color-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,373},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>game/lord/gui-card/poker-back.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{155,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,198}</string>
      </dict>
      <key>game/lord/gui-card/poker-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,201},{155,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,198}</string>
      </dict>
      <key>game/lord/gui-card/s-poker-back.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,377},{99,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,124}</string>
      </dict>
      <key>game/lord/gui-card/s-poker-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1},{99,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,124}</string>
      </dict>
      <key>game/lord/gui-card/value-1-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,401},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-10-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,454},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-10-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,401},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,454},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-11-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,401},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-11-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,454},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-12-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,401},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-12-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,454},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-13-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,1},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-13-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-2-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,54},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,54},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-3-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,107},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-3-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,107},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-4-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,127},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-4-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,160},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-5-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,160},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-5-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,180},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-53.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,1},{143,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{143,186}</string>
      </dict>
      <key>game/lord/gui-card/value-54.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,189},{143,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{143,186}</string>
      </dict>
      <key>game/lord/gui-card/value-6-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,213},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-6-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,213},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-7-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,233},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-7-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,266},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-8-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,266},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-8-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,286},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-9-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,319},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/value-9-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,319},{40,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,51}</string>
      </dict>
      <key>game/lord/gui-card/banker.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,377},{121,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gui-poker.png</string>
      <key>realTextureFileName</key>
      <string>gui-poker.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>512</integer>
      <key>height</key>
      <integer>512</integer>
    </dict>
  </dict>
</plist>

