<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>game/lord/gui-image/gui-btn-call-score-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-call-score-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,397},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-call-score-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,427},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-call-score-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-jiabei-no.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-jiabei-ok.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,86},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-play-out.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,483},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-play-pass.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,513},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-play-tips.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,527},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-robot-cancel.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,172},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-start-switch.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,258},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-stop-switch.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-menu-btn-music-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,410},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/lord/gui-image/gui-menu-btn-music-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/lord/gui-image/gui-menu-btn-rule.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,318},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/lord/gui-image/gui-menu-btn-sound-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,348},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/lord/gui-image/gui-menu-btn-sound-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,489},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/lord/gui-image/gui-bg-buttom.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,592},{100,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,71}</string>
      </dict>
      <key>game/lord/gui-image/gui-bg-menu.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{228,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,262}</string>
      </dict>
      <key>game/lord/gui-image/gui-bg-player.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{188,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{188,63}</string>
      </dict>
      <key>game/lord/gui-image/gui-bg-robot.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{100,299}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,299}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-play-no-out.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,599},{167,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-buttom-beishu.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,568},{197,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{197,66}</string>
      </dict>
      <key>game/lord/gui-image/gui-buttom-gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,603},{240,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{240,48}</string>
      </dict>
      <key>game/lord/gui-image/gui-buttom-name.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,344},{258,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,66}</string>
      </dict>
      <key>game/lord/gui-image/gui-buttom-score.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,634},{197,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{197,66}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-add.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,455},{53,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{53,56}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-clock.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,748},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-clock-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,423},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-close.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,495},{94,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-lord.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,258},{40,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-score-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,0},{46,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,70}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-score-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,70},{46,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,70}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-score-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,140},{46,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,70}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-call-score-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,397},{75,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-call-score-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,743},{84,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-call-score-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,685},{85,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{85,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-force-robot.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,700},{206,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-jiabei-no.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,613},{156,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{156,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-no-out.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,743},{102,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{102,56}</string>
      </dict>
      <key>game/lord/gui-image/gui-up-btn-exit.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,410},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/lord/gui-image/gui-up-btn-pop.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,663},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/lord/gui-image/gui-up-btn-push.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,671},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/lord/gui-image/gui-up-btn-robot.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,748},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-tips-no-card.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,954},{279,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{279,42}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-tips-no-rules.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{308,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{308,42}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-call-score-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,603},{102,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{102,57}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-jiabei-ok.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,685},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-card-lock.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,299},{99,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,124}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-start-start.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,146},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-stop-start.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-text-bei.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,565},{52,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,38}</string>
      </dict>
      <key>game/lord/gui-image/gui-bg-jiesuankuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{438,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{438,146}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-close.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,232},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-btn-continue.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,262},{210,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,86}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-back.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,511},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-clock-white.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,830},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>game/lord/gui-image/gui-icon-jiesuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,210},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gui-lord.png</string>
      <key>realTextureFileName</key>
      <string>gui-lord.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

