<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,900},{322,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,105}}</string>
                <key>sourceSize</key>
                <string>{322,105}</string>
            </dict>
            <key>btn_repeat_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,782},{98,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>btn_repeat_yes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,662},{98,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>caici.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,914},{382,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,54}}</string>
                <key>sourceSize</key>
                <string>{382,54}</string>
            </dict>
            <key>fuhao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,694},{308,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,132}}</string>
                <key>sourceSize</key>
                <string>{308,134}</string>
            </dict>
            <key>heisheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,497},{416,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{416,163}}</string>
                <key>sourceSize</key>
                <string>{434,181}</string>
            </dict>
            <key>hh_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>hongsheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,332},{416,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{416,163}}</string>
                <key>sourceSize</key>
                <string>{434,181}</string>
            </dict>
            <key>hongsheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,515},{430,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{430,177}}</string>
                <key>sourceSize</key>
                <string>{434,181}</string>
            </dict>
            <key>hongsheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,332},{434,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,181}}</string>
                <key>sourceSize</key>
                <string>{434,181}</string>
            </dict>
            <key>jinbi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,694},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>luckStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,970},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,662},{324,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,106}}</string>
                <key>sourceSize</key>
                <string>{324,106}</string>
            </dict>
            <key>trendluckno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,694},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>trendluckyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,914},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>trendwin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,770},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>trendwinb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,722},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>trendwinr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,694},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,970},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>xiazhubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,970},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>xiazhubg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{233,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,40}}</string>
                <key>sourceSize</key>
                <string>{233,40}</string>
            </dict>
            <key>xiazhubg_ziji.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,977},{195,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,39}}</string>
                <key>sourceSize</key>
                <string>{195,39}</string>
            </dict>
            <key>xingyunxing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,770},{311,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,128}}</string>
                <key>sourceSize</key>
                <string>{311,128}</string>
            </dict>
            <key>xyyj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,174},{851,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{851,156}}</string>
                <key>sourceSize</key>
                <string>{879,188}</string>
            </dict>
            <key>xyyj_01_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{463,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,61}}</string>
                <key>sourceSize</key>
                <string>{463,61}</string>
            </dict>
            <key>xyyj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{865,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{865,170}}</string>
                <key>sourceSize</key>
                <string>{879,188}</string>
            </dict>
            <key>xyyj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{879,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,188}}</string>
                <key>sourceSize</key>
                <string>{879,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rbnewIcon.png</string>
            <key>size</key>
            <string>{1511,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:914fdcec757df52d38e05963388e9d35:1/1$</string>
            <key>textureFileName</key>
            <string>rbnewIcon.png</string>
        </dict>
    </dict>
</plist>
