<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rbwarRank/luckStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,52}}</string>
                <key>sourceSize</key>
                <string>{138,52}</string>
            </dict>
            <key>rbwarRank/number/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>rbwarRank/number/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>rbwarRank/number/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>rbwarRank/number/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>rbwarRank/number/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>rbwarRank/number/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>rbwarRank/number/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>rbwarRank/number/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>rbwarRank/number/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>rbwarRank/number/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>rbwarRank/rich1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{148,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,47}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>rbwarRank/rich2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,56},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>rbwcoin/100.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,56},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,56},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,56},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,144},{122,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{122,83}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/1000000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,144},{132,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{132,107}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/1000000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,144},{132,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{132,107}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/3000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{124,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{124,83}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/3000000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,253},{112,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{112,133}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/3000000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,253},{108,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{108,139}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,253},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>rbwcoin/5000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,394},{128,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{128,83}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/5000000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,394},{138,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{138,91}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwcoin/5000000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,394},{142,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{142,125}}</string>
                <key>sourceSize</key>
                <string>{142,139}</string>
            </dict>
            <key>rbwnum_01/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,521},{27,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,521},{33,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,521},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,521},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,521},{31,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,521},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,521},{33,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,521},{33,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_01/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,521},{31,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>rbwnum_02/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,521},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,521},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,521},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,521},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,521},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,521},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,521},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,521},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,521},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_02/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>rbwnum_07/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,572},{48,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,572},{22,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{22,66}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,572},{46,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,572},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,572},{52,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,572},{46,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,572},{48,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,572},{44,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,572},{46,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwnum_07/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,572},{46,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>rbwtype/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{151,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,640},{151,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/2_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,640},{151,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{151,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,723},{149,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{149,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,723},{149,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{149,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{149,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,81}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>rbwtype/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,806},{123,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{123,73}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rbwarCCSImg0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e28fa229b882c8fd63c21be357202c6:1/1$</string>
            <key>textureFileName</key>
            <string>rbwarCCSImg0.png</string>
        </dict>
    </dict>
</plist>
