<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/longhudazhan/bankImage/baoxianxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,539},{40,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{353,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,98}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-add.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,387},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-add1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,479},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,101},{173,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,34}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1},{299,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,49}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{82,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,93}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-max.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,300},{119,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,71}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-max1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,421},{119,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,71}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,101},{197,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,81}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-reset1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,188},{197,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,81}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-reset2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,188},{197,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,81}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1},{194,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,85}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-sure1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,45},{194,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,85}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-button-sure2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{194,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,85}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-icon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1},{529,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{529,42}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-scrollbar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,101},{531,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{531,18}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-bank-scrollbar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,101},{531,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{531,14}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,542},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>game/longhudazhan/bankImage/gui-lhdz-btn-dialog-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>game/longhudazhan/bankImage/mimasp.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,447},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>
			<key>game/longhudazhan/bankImage/quchusp.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,504},{73,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,30}</string>
			</dict>
			<key>game/longhudazhan/bankImage/testtext1.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,358},{144,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,23}</string>
			</dict>
			<key>game/longhudazhan/bankImage/testtext2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,188},{168,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bankImages.png</string>
			<key>realTextureFileName</key>
			<string>bankImages.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>