<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>by_effect_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,624},{126,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,130}}</string>
        <key>sourceSize</key>
        <string>{126,130}</string>
      </dict>
      <key>by_effect_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,396},{180,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,180}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>by_effect_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,152},{146,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,135}}</string>
        <key>sourceSize</key>
        <string>{146,135}</string>
      </dict>
      <key>f_cannon_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,738},{77,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{77,94}}</string>
        <key>sourceSize</key>
        <string>{81,96}</string>
      </dict>
      <key>f_cannon_0_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,401},{123,89}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{123,89}}</string>
        <key>sourceSize</key>
        <string>{123,93}</string>
      </dict>
      <key>f_cannon_1_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,624},{158,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42,40},{158,118}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_2_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,578},{158,144}}</string>
        <key>offset</key>
        <string>{-1,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{42,20},{158,144}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,396},{174,154}}</string>
        <key>offset</key>
        <string>{-1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,18},{174,154}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,172},{174,152}}</string>
        <key>offset</key>
        <string>{-1,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,16},{174,152}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_5_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{174,150}}</string>
        <key>offset</key>
        <string>{-1,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,17},{174,150}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_6_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{182,170}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31,2},{182,170}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{212,174}}</string>
        <key>offset</key>
        <string>{-1,8}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,4},{212,174}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_8_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{202,192}}</string>
        <key>offset</key>
        <string>{-1,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,0},{202,192}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>f_cannon_98_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{210,115}}</string>
        <key>offset</key>
        <string>{0,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,5},{210,115}}</string>
        <key>sourceSize</key>
        <string>{210,151}</string>
      </dict>
      <key>f_cannon_99_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,289},{110,124}}</string>
        <key>offset</key>
        <string>{0,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{29,0},{110,124}}</string>
        <key>sourceSize</key>
        <string>{168,160}</string>
      </dict>
      <key>f_cannon_9_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,214},{202,180}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,3},{202,180}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>gunBase0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,584},{174,76}}</string>
        <key>offset</key>
        <string>{-1,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,24},{174,76}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,584},{174,76}}</string>
        <key>offset</key>
        <string>{-1,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,24},{174,76}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase2.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,376},{176,78}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,22},{176,78}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase3.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,376},{176,78}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,22},{176,78}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase4.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,376},{176,78}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,22},{176,78}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase5.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,554},{176,74}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,26},{176,74}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase6.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,554},{176,74}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,26},{176,74}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase7.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,552},{168,70}}</string>
        <key>offset</key>
        <string>{-1,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,30},{168,70}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase8.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,552},{168,70}}</string>
        <key>offset</key>
        <string>{-1,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,30},{168,70}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase9.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,552},{168,70}}</string>
        <key>offset</key>
        <string>{-1,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,30},{168,70}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase98.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{176,76}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,24},{176,76}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>gunBase99.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,194},{180,81}}</string>
        <key>offset</key>
        <string>{0,-24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,51},{180,81}}</string>
        <key>sourceSize</key>
        <string>{180,135}</string>
      </dict>
      <key>gun_rage.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,738},{146,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>gun_shot_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,552},{145,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,145}}</string>
        <key>sourceSize</key>
        <string>{145,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_cannon.png</string>
      <key>size</key>
      <string>{738,884}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:3fbf6455e94e1468800c1d3f48af415a$</string>
      <key>textureFileName</key>
      <string>fishres_cannon.png</string>
    </dict>
  </dict>
</plist>

