<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,175},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,163},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,192},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,134},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>poker-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{138,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,193}}</string>
                <key>sourceSize</key>
                <string>{138,193}</string>
            </dict>
            <key>poker-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{130,183}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{130,183}}</string>
                <key>sourceSize</key>
                <string>{138,193}</string>
            </dict>
            <key>poker-side1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,193}}</string>
                <key>sourceSize</key>
                <string>{138,193}</string>
            </dict>
            <key>value-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,262},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,235},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,113},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,113},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,235},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,208},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,339},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,264},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,165},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,165},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,177},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,202},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,175},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,146},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,146},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,134},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,134},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,158}}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,158}}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,249},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,165},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,206},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,144},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,113},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,206},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,177},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-poker-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5944b2192a6199a8915b7b2a7173f379$</string>
            <key>textureFileName</key>
            <string>gui-poker-1.png</string>
        </dict>
    </dict>
</plist>
