<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/tiger/icon/gui-tiger-icon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,871},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,2},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,149},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,2},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,296},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,443},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,590},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,737},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,871},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,149},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,2},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,296},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-icon-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,443},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,171},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,346},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,521},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,696},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,171},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,346},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,521},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,696},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,149},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,324},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,499},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,674},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,849},{143,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,171}</string>
			</dict>
			<key>game/tiger/icon/gui-tiger-mix-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TigerIconPlist.png</string>
			<key>realTextureFileName</key>
			<string>TigerIconPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>