<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/tiger/gui/gui-tiger-btn-bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1939},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-help.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1865},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-menu-pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1624},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-menu-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1711},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-start-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1792},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-texture-null.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,443},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-tx-freeTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1908},{148,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,42}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1908},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1908},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1908},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1908},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1190},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1221},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1252},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1283},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1314},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1345},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1376},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1407},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1438},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1469},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1500},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1531},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1562},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-effect-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1322},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-effect-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1384},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1190},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-music-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1446},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-music-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1508},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-lb-multiple.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1481},{85,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,47}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-menu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1190},{224,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,342}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-start-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1792},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-rule-btn-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1661},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1786},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1277},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1356},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1435},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1514},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1322},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1401},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1480},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1190},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1269},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-start-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1792},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-result-num-point.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1348},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,77}</string>
			</dict>
			<key>game/tiger/gui/result_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1908},{305,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-add-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1190},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-add-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1244},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betline-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1969},{327,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,67}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-reduce-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1661},{82,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-reduce-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1798},{82,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-allLine-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1720},{220,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,64}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-allLine-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1190},{220,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,64}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-baseScore-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1956},{243,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,66}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-baseScore-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1952},{243,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,66}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-start-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1792},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-machine-mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1534},{156,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,433}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line-text.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,2001},{87,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,45}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-reduce-disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1427},{82,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-allLine-disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1256},{220,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,64}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-btn-baseScore-disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1593},{243,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,66}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-betlin-add-disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1298},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line-text2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,2001},{87,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,45}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-num-9-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1593},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-tx-freeTime2.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1908},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,2020},{98,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,25}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,2020},{105,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,25}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2024},{106,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,23}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{517,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{517,308}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,880},{489,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,308}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1668},{509,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,122}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1534},{499,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,132}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1020,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1020,440}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-line9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{1002,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1002,435}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-win-shine.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1908},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-win-thunder.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1661},{98,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,51}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1624},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1672},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1720},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1768},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1816},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1277},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1325},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1373},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1421},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1469},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>game/tiger/gui/gui-tiger-joke-num-point.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1517},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TigerPlist.png</string>
			<key>realTextureFileName</key>
			<string>TigerPlist.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>