<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,297},{174,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,195}</string>
            </dict>
            <key>fish_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,304},{174,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,195}</string>
            </dict>
            <key>fish_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{174,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,195}</string>
            </dict>
            <key>fish_19_halo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{279,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,285}}</string>
                <key>sourceSize</key>
                <string>{279,285}</string>
            </dict>
            <key>fish_19_halo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,300}}</string>
                <key>sourceSize</key>
                <string>{315,300}</string>
            </dict>
            <key>fish_19_halo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{303,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,293}}</string>
                <key>sourceSize</key>
                <string>{303,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldfrog0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:199ffd5a2486b3733f68b8850ae292fc$</string>
            <key>textureFileName</key>
            <string>goldfrog0.png</string>
        </dict>
    </dict>
</plist>
