<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huhuhu-animation_2.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_3.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_4.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>6</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_5.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_6.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>12</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_7.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_8.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>18</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_9.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_10.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_11.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>27</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_12.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_13.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>33</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_14.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_15.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_16.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>42</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_17.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_18.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_19.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_20.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_21.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_22.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_23.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_24.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_25.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_26.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_27.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_28.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>78</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huhuhu-animation_29.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gamekind_effect0.png</string>
			<key>realTextureFileName</key>
			<string>gamekind_effect0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>