<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,508},{359,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,359}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>hei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{649,218}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,218}}</string>
                <key>sourceSize</key>
                <string>{657,218}</string>
            </dict>
            <key>hei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1014},{572,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,27}}</string>
                <key>sourceSize</key>
                <string>{572,27}</string>
            </dict>
            <key>hei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,978},{572,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,32}}</string>
                <key>sourceSize</key>
                <string>{572,32}</string>
            </dict>
            <key>hong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{578,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,209}}</string>
                <key>sourceSize</key>
                <string>{578,209}</string>
            </dict>
            <key>hong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{572,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,27}}</string>
                <key>sourceSize</key>
                <string>{572,27}</string>
            </dict>
            <key>hong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1012},{482,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,32}}</string>
                <key>sourceSize</key>
                <string>{482,32}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,653},{303,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,323}}</string>
                <key>sourceSize</key>
                <string>{303,323}</string>
            </dict>
            <key>vs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,508},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,508},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
            <key>vs7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,504}}</string>
                <key>sourceSize</key>
                <string>{398,504}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rbweffectVS.png</string>
            <key>size</key>
            <string>{2033,1046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c09ab6e5940fda67f40492cc5c57d1b:1/1$</string>
            <key>textureFileName</key>
            <string>rbweffectVS.png</string>
        </dict>
    </dict>
</plist>
