<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/twoniuniu/gui/gui-l-info-guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,851},{194,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,43}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-texture-null.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{43,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,78}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-bet-img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,265},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,107}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-bet-img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,374},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,107}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-bet-img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,483},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,107}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-bet-img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,568},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,107}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-box-cehua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{228,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,264}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1},{156,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,169}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-callBank.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,355},{220,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,92}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,763},{100,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,51}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-notcall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{220,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,92}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-open.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,300},{220,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,92}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,592},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,677},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-quick-start.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,265},{230,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,88}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-return.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,679},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,838},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-shengying.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,966},{138,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-shengying-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,966},{139,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,44}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-start.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,394},{220,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,92}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-yingyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,172},{135,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,41}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-yingyue-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,887},{135,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,41}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-dispatch-box.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,582},{92,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,84}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-head-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,449},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-head-frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{149,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,150}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-head-info-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,300},{184,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,100}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-icon-gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,141},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-icon-zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,215},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-progress-timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,449},{131,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-score-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,215},{339,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,48}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-table-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,887},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-table-in-game.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,81},{69,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,58}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-text-already.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,896},{183,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,68}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-text-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,922},{87,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,55}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-tips-no-call.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,765},{183,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,68}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-wait-bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,172},{378,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,62}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-wait-callbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,236},{378,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,62}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-head-wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1},{143,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,144}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-cancleentrust.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,764},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-button-entrust.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,835},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-score-history.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,147},{95,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,23}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-score-last.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,994},{76,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,24}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,672},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,668},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-bet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,750},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-bet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,832},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-bet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,930},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-entrust-betrandom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{216,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,78}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-tips-ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,693},{183,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,68}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-time-gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,402},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-table-title-100.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,488},{211,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,65}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-table-title-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,555},{211,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,64}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-table-title-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,539},{210,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,65}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-table-title-500.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,606},{211,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,64}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{200,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,84}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,634},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,267},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,108},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,706},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,621},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,850},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,914},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,766},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/twoniuniu/gui/gui-tniuniu-niu-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,693},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>twoniuniu.png</string>
			<key>realTextureFileName</key>
			<string>twoniuniu.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>