<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tally_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,241},{62,58}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,2},{62,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,268},{68,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,0},{68,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,50},{80,52}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,6},{80,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,158},{56,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{22,0},{56,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,573},{94,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,103},{96,54}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,6},{96,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,603},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,1},{92,48}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,9},{92,48}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,274},{64,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,276},{72,60}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,0},{72,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,140},{78,54}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,5},{78,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,578},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,571},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,195},{76,58}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,2},{76,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,542},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,451},{94,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,205},{86,56}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,4},{86,56}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,337},{82,60}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,50},{86,52}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,3},{86,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,1},{60,34}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,12},{60,34}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,211},{80,56}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,4},{80,56}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,443},{94,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,321},{82,60}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,262},{86,58}}</string>
        <key>offset</key>
        <string>{5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,2},{86,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,517},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{60,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,32}}</string>
        <key>sourceSize</key>
        <string>{60,32}</string>
      </dict>
      <key>tally_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{60,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,32}}</string>
        <key>sourceSize</key>
        <string>{60,32}</string>
      </dict>
      <key>tally_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,1},{84,48}}</string>
        <key>offset</key>
        <string>{3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,9},{84,48}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,36},{60,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,50}}</string>
        <key>sourceSize</key>
        <string>{60,50}</string>
      </dict>
      <key>tally_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,87},{90,52}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,8},{90,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,36},{60,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,50}}</string>
        <key>sourceSize</key>
        <string>{60,50}</string>
      </dict>
      <key>tally_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,313},{74,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{74,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,215},{62,58}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,2},{62,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,217},{60,58}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,2},{60,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,170},{70,56}}</string>
        <key>offset</key>
        <string>{3,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,4},{70,56}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,150},{84,54}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{84,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,97},{96,52}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{96,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,512},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,254},{74,58}}</string>
        <key>offset</key>
        <string>{2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{74,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,101},{76,52}}</string>
        <key>offset</key>
        <string>{2,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,8},{76,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,1},{92,44}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,10},{92,44}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,1},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>tally_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,158},{62,58}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,2},{62,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,103},{92,52}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,7},{92,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,46},{92,50}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{92,50}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,510},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,390},{94,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,327},{66,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,481},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,456},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,1},{48,56}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{24,4},{48,56}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,504},{90,60}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,268},{72,58}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,2},{72,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,103},{66,54}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,6},{66,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,154},{72,54}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,6},{72,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,211},{80,56}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{80,56}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,34},{48,58}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{27,2},{48,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,304},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,329},{62,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,335},{80,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,365},{90,60}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,449},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,382},{94,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{94,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,573},{92,60}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,0},{92,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,420},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,388},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,50},{50,58}}</string>
        <key>offset</key>
        <string>{3,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,50},{50,58}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{27,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>tally_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,156},{92,54}}</string>
        <key>offset</key>
        <string>{2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,2},{92,54}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_tally.png</string>
      <key>size</key>
      <string>{512,664}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:32c51e84078633dc9ad26a4c62376f2b$</string>
      <key>textureFileName</key>
      <string>fishres_tally.png</string>
    </dict>
  </dict>
</plist>

