<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish-icon-gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,192},{37,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,43}</string>
			</dict>
			<key>fish-info-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,0},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>fish-info-bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,71},{207,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,32}</string>
			</dict>
			<key>fish-lock-dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,661},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>gui-fish-add-bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,614},{100,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,120}</string>
			</dict>
			<key>gui-fish-array-notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{550,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,71}</string>
			</dict>
			<key>gui-fish-btn-auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,641},{95,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,102}</string>
			</dict>
			<key>gui-fish-btn-cancel-lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,676},{95,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,102}</string>
			</dict>
			<key>gui-fish-btn-lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,701},{95,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,102}</string>
			</dict>
			<key>gui-fish-btn-mul.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,566},{95,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,102}</string>
			</dict>
			<key>gui-fish-bullet0.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,192},{55,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,59}</string>
			</dict>
			<key>gui-fish-bullet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,376},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,64}</string>
			</dict>
			<key>gui-fish-bullet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,192},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>gui-fish-bullet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,192},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>gui-fish-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,566},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>gui-fish-fh-bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,203},{125,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,41}</string>
			</dict>
			<key>gui-fish-laba-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,71},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>gui-fish-lizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,192},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>gui-fish-me-flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,192},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>gui-fish-minus-bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,625},{100,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,120}</string>
			</dict>
			<key>gui-fish-net1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{221,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,217}</string>
			</dict>
			<key>gui-fish-paodizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,217},{159,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,80}</string>
			</dict>
			<key>skill-lock-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,71},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,71},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,71},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,71},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,82},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,82},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,203},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,203},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,192},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,338},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-22-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,278},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-22-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,313},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-29.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,262},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,251},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-30.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,324},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-31.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,372},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-32.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,383},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-33.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,399},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-34.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,434},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-36.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,324},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,445},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-44.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,493},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,504},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,520},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,555},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,445},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>skill-lock-113.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,566},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gui-fish.png</string>
			<key>realTextureFileName</key>
			<string>gui-fish.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>