<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gui-fish-loading-bar-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,29},{605,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{605,25}</string>
      </dict>
      <key>gui-fish-loading-bar.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,2},{605,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{605,25}</string>
      </dict>
      <key>gui-fish-loading-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{337,385}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{337,385}</string>
      </dict>
      <key>gui-fish-loading-text.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,389},{256,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{256,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>1</integer>
      <key>realTextureFileName</key>
      <string>gui-fish-loading.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:df15e0e08cf3f39cc0e298ca541e11b8$</string>
      <key>textureFileName</key>
      <string>gui-fish-loading.png</string>
    </dict>
  </dict>
</plist>

