<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/lkfish/gui-fish-pao/bag_10301.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10301_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,236},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10307.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,548},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10307_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnoff_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,248},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnoff_zidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,260},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnon_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,332},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnon_zidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,344},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/gunBase0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{174,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,76}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/lock_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,144},{104,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,36}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,640},{100,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{100,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bugp_ui_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,118},{256,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,38}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{77,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,94}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,0},{158,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,118}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{158,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,144}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bugp_ui_ring.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,118},{120,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bugp_ui_wait_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,352},{174,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,76}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bugp_ui_pos.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,374},{138,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,74}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/fish_53_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{128,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gui-fish-pao.png</string>
			<key>realTextureFileName</key>
			<string>gui-fish-pao.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>