<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>game/lkfish/gui-setting/gui-fish-exit-bt.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,1},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-exit-hight-bt.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,60},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-help-bt.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,88},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-help-hight-bt.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,141},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-bomb-normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,97},{90,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-bomb-select.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,38},{281,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-boss-normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,129},{75,24}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-boss-select.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,60},{281,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-fish-normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,213},{119,30}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-rule-fish-select.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,110},{281,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{281,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,156},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-btn-effect.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,141},{86,94}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-btn-music.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,91},{86,94}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-btn-shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,184},{86,94}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-btn-sound.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,237},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-switch-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{400,57}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{400,58}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-switch-default.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,183},{173,28}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{204,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-switch-default-high.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,88},{204,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{204,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-switch-low.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,187},{147,28}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{186,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-switch-low-high.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,38},{186,51}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{186,80}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-title.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,1},{475,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{475,39}</string>
      </dict>
      <key>game/lkfish/gui-setting/mk-close-x.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,1},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>game/lkfish/gui-setting/mk-close-x2.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,97},{70,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,68}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-setting-divide.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,1},{2,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{2,180}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-function-pop.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,237},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>game/lkfish/gui-setting/gui-fish-function-push.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,91},{86,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gui-setting.png</string>
      <key>realTextureFileName</key>
      <string>gui-setting.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>512</integer>
    </dict>
  </dict>
</plist>

