<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/lkfish/gui-fish-pao/bag_10301.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10301_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10307.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,0},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bag_10307_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,76},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnoff_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,114},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnoff_zidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,179},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnon_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,200},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/btnon_zidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,150},{84,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,28}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/gunBase0.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,0},{174,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,76}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/lock_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,114},{104,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,36}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,0},{100,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,100},{100,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,85}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/bugp_ui_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,76},{256,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,38}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,102},{77,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,94}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,0},{158,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,118}</string>
			</dict>
			<key>game/lkfish/gui-fish-pao/f_cannon_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{158,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gui-fish-pao.png</string>
			<key>realTextureFileName</key>
			<string>gui-fish-pao.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>