<plist>
  <dict>
    <key>maxParticles</key>
    <real>30</real>
    <key>angle</key>
    <real>90</real>
    <key>angleVariance</key>
    <real>198</real>
    <key>duration</key>
    <real>1</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>0</real>
    <key>startColorGreen</key>
    <real>0</real>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorVarianceAlpha</key>
    <real>170</real>
    <key>startColorVarianceBlue</key>
    <real>0.18431399762630463</real>
    <key>startColorVarianceGreen</key>
    <real>0.78431397676467896</real>
    <key>startColorVarianceRed</key>
    <real>0.20000000298023224</real>
    <key>finishColorAlpha</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>0</real>
    <key>finishColorGreen</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>0</real>
    <key>finishColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <real>0</real>
    <key>startParticleSizeVariance</key>
    <real>0</real>
    <key>finishParticleSize</key>
    <real>37</real>
    <key>finishParticleSizeVariance</key>
    <real>0</real>
    <key>sourcePositionVariancex</key>
    <real>0</real>
    <key>sourcePositionVariancey</key>
    <real>0</real>
    <key>sourcePositionx</key>
    <real>312.97198486328125</real>
    <key>sourcePositiony</key>
    <real>315.94699096679688</real>
    <key>rotationStart</key>
    <real>0</real>
    <key>rotationStartVariance</key>
    <real>114</real>
    <key>rotationEnd</key>
    <real>99</real>
    <key>rotationEndVariance</key>
    <real>0</real>
    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>120.80000305175781</real>
    <key>speed</key>
    <real>0</real>
    <key>speedVariance</key>
    <real>402.70001220703125</real>
    <key>tangentialAcceleration</key>
    <real>-10</real>
    <key>tangentialAccelVariance</key>
    <real>50</real>
    <key>radialAcceleration</key>
    <real>-40.299999237060547</real>
    <key>radialAccelVariance</key>
    <real>10</real>
    <key>rotationIsDir</key>
    <integer>0</integer>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>1.5</real>
    <key>particleLifespanVariance</key>
    <real>0</real>
    <key>yCoordFlipped</key>
    <integer>1</integer>
    <key>blendAdditive</key>
    <integer>1</integer>
    <key>textureFileName</key>
    <string>fk.png</string>
    <key>textureImageData</key>
    <string>H4sIAAAAAAAACusM8HPn5ZLiYmBg4PX0cAkC0uJALMrBDCRn2bTOBFIs6Y6+jgwMG/u5/ySyAvmMxUHuTgzrzsm8BLLFA3xCXBkggJGRjVdAM7wIxGRiDlx1FyLMxMIKlDJIa+YSldZNqLGpXcQroyJj4+fYsYGFk5eRmcVr1kmtqBIpcw8gW0BJx6l7q23TCiXPBK+5p+1b1whpmDBzcJmXTANKAU3jlpAPWHETaKBuYh2QzSOtIucYzCUmy6+gxcTKxienbpDeDlTm3LuLV0qJnV8YyNaKrZO1C9JPbmDnF/FbcoWRicFt6iE5x1AhVQsVnyTfRZeAalwm7mFiYfNc9lnKwZ2RiYlPSdFz0VeguG5Gn2X1GjX/DHY+YW5xOa85p5y6NmsE5wClgtc+CF57P3jNw+A1DwLXPg9Y+9J/7Ue/tV8C1z7zW/Xfb+3XOTsqDYHqgkqC/IIZuEXctnEo/mPh0RA/ErnvVvr0x7aqn3ZMVCp6dm/5lwfV5pcK2RP+iB2IT5sTk6ebfYzvRYo34+5Zh3x+yrybW7nqB9MrrV9T5HN+sR6+uc4r9vPTTVxtW6pMgKZf8HRxDJG4nJzgwCqzz45nhsKEm9YaDcyxIYc6juprnLjPGdkTGB7spsfBUyKwaN22ZW0HHQMUjnGJfi0o7OPkb+Vk7+Rybtlpu1j5sNODU81NRw4eCst7Jxh44pDjpRwFduOC6tZWNuXuza8bTWfMWLiCjanYb0PLRttVBROWskbccZD3tTnB9yjds6QwW2/Djg6BLo3di3mFj3A3eSz6E3Urhi9A3vj0oSmfODcotkppc7vMaJ8uaNpheqNxUdAnnxeO65dJLDm1qEF12ZQroRYbOYw1FncyMVgscWf5ySN3EpR0PF39XNY5JTQBAASwUZunAgAA</string>
  </dict>
</plist>

