<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangquanpao10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>shandianpao10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,97},{12,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{12,22}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>shandianpao10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,97},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>shandianpao10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,97},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{14,22}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>shandianqiu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{20,34}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,34}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{34,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,61},{36,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{36,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{36,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,46},{40,32}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,46},{40,32}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,46},{38,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,80},{34,38}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,86},{38,34}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,80},{38,32}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shandianqiu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{18,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>shanguangpao10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,57}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao1buff_buyu0.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49c0e508c5bbbd3e494def63b6c6ad65$</string>
            <key>textureFileName</key>
            <string>pao1buff_buyu0.png</string>
        </dict>
    </dict>
</plist>
