<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lushanguang_lushanguang/lushanguang_lushanguang0000.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lushanguang_lushanguang/lushanguang_lushanguang0001.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lushanguang_lushanguang/lushanguang_lushanguang0002.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lushanguang_lushanguang/lushanguang_lushanguang0003.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lushanguang_lushanguang/lushanguang_lushanguang0004.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0000.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0001.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0002.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0003.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0004.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0005.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0006.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0007.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0008.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0009.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0010.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0011.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0012.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0013.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0014.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0015.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0016.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0017.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0018.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ludonghua_ludonghua/ludonghua_ludonghua0019.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>lu_shuihuzhuan0.png</string>
			<key>realTextureFileName</key>
			<string>lu_shuihuzhuan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>