<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game71/ctlost/ct1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct10.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,2},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct11.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,2},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct12.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct13.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,66},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,84},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct15.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,66},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct16.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,66},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,130},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,148},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct4.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,130},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct5.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,130},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct6.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,194},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,212},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct8.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,194},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/ct9.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,194},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct1.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,230},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct10.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,258},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,276},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct12.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,258},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct13.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,258},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct14.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,322},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,340},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct16.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,322},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,322},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,386},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,468},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,532},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,596},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct8.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,614},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/ct9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,660},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/niu1_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,926},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,926},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,436},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,386},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,527},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/bei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,934},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game71/bei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,954},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game71/bei3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,836},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game71/bei4.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,836},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game71/icon_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,474},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game71/icon_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,559},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game71/icon_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,605},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game71/icon_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,474},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game71/icon_10fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/icon_1fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,120},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/icon_2fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,238},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/icon_3fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,356},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/icon_4fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,796},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/icon_7fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,836},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btmSeatdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{224,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,78}</string>
			</dict>
			<key>game71/btnSee.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,852},{128,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,78}</string>
			</dict>
			<key>game71/cp0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,934},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>game71/cp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,386},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>game71/cp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,701},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>game71/imgLost.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,842},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>game71/imgWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,852},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>game71/ctlost/hui_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,778},{64,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,43}</string>
			</dict>
			<key>game71/ctlost/hui_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,731},{75,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,43}</string>
			</dict>
			<key>game71/ctlost/hui_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,386},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>game71/ctlost/hui_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,651},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>game71/ctlost/hui_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,651},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>game71/ctlost/ct17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,724},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctlost/hui_x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,618},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctlost/hui_x7.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,665},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctlost/hui_x8.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,665},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctlost/hui_x9.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,756},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/ct17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,788},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>game71/ctwin/niu1_x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,803},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,894},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x8.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,803},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/niu1_x9.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,894},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>game71/ctwin/dianegative.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,458},{239,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cardtype.png</string>
			<key>realTextureFileName</key>
			<string>cardtype.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>