<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangxiaoqihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,179},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qihuanguangxiao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{85,115}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{85,115}}</string>
                <key>sourceSize</key>
                <string>{233,223}</string>
            </dict>
            <key>qihuanguangxiao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{133,191}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{133,191}}</string>
                <key>sourceSize</key>
                <string>{233,223}</string>
            </dict>
            <key>qihuanguangxiao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,161},{151,169}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{151,169}}</string>
                <key>sourceSize</key>
                <string>{233,223}</string>
            </dict>
            <key>qihuanguangxiao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{171,157}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{171,157}}</string>
                <key>sourceSize</key>
                <string>{233,223}</string>
            </dict>
            <key>qihuanguangxiao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,175}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{195,175}}</string>
                <key>sourceSize</key>
                <string>{233,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paotaiqiehuan_buyu0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389eaa1bb79feb25ed0674e1b0b711b8$</string>
            <key>textureFileName</key>
            <string>paotaiqiehuan_buyu0.png</string>
        </dict>
    </dict>
</plist>
