<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,238}}</string>
                <key>sourceSize</key>
                <string>{237,238}</string>
            </dict>
            <key>fish_48_pic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{176,168}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{136,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{136,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,758},{128,152}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{128,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,354},{162,142}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{162,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,888},{116,138}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{116,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{146,132}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,48},{146,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,498},{158,130}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{158,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{152,128}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{152,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic09.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,610},{162,126}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,48},{162,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{136,156}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{136,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{138,176}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{138,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,630},{126,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{126,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,888},{126,136}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{126,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_pic14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{180,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{180,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fish_48_weapon_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{19,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{19,196}}</string>
                <key>sourceSize</key>
                <string>{29,206}</string>
            </dict>
            <key>fish_48_weapon_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,435},{32,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,189}}</string>
                <key>sourceSize</key>
                <string>{44,189}</string>
            </dict>
            <key>fish_48_weapon_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,448},{82,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,160}}</string>
                <key>sourceSize</key>
                <string>{82,164}</string>
            </dict>
            <key>fish_48_weapon_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,774},{93,112}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>fish_48_weapon_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,448},{105,27}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{105,27}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>fish_48_weapon_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{112,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{112,96}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>fish_48_weapon_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,307},{106,139}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,139}}</string>
                <key>sourceSize</key>
                <string>{106,149}</string>
            </dict>
            <key>fish_48_weapon_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,241},{49,192}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,192}}</string>
                <key>sourceSize</key>
                <string>{53,196}</string>
            </dict>
            <key>text_ryjgb.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{303,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,63}}</string>
                <key>sourceSize</key>
                <string>{303,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruyijingubangdonghua_buyu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d0201a08dd5c4c525bcabae2f9b7a82$</string>
            <key>textureFileName</key>
            <string>ruyijingubangdonghua_buyu.png</string>
        </dict>
    </dict>
</plist>
