<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>new-game-jetton-100-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,126},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-100.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,126},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-1000-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,2},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-1000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{114,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{114,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-10000-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,2},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-10000.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,374},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-100000-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,250},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-100000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,2},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-5000-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,126},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-5000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,374},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-50000-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,250},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>new-game-jetton-50000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,126},{112,122}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>new-game-jetton.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:62788f0c1aba7af292953fff2c3fa839$</string>
      <key>textureFileName</key>
      <string>new-game-jetton.png</string>
    </dict>
  </dict>
</plist>

