<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baibanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,179}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,183},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>jd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>pukebeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,179}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>errenniuniu4_fapai0.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865aa78065cf4658ec32beb03af39ab9$</string>
            <key>textureFileName</key>
            <string>errenniuniu4_fapai0.png</string>
        </dict>
    </dict>
</plist>
