<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>donghua_dadaoa_14.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_00.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_01.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_02.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_03.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_04.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_05.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_06.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_07.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_08.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_09.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_10.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_11.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_12.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>donghua_dadaoa_13.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_00.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_01.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_02.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_03.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_04.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_05.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang_dadaoshanguang_06.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dadao_shuihuzhuan0.png</string>
			<key>realTextureFileName</key>
			<string>dadao_shuihuzhuan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>