<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao1gongjiguangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,86}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{140,86}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>paoshen1buyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>paotou1buyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao1_buyu0.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b042218a3af67096fe628042d713839$</string>
            <key>textureFileName</key>
            <string>pao1_buyu0.png</string>
        </dict>
    </dict>
</plist>
