<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>by_effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,448},{91,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,102}}</string>
        <key>sourceSize</key>
        <string>{91,102}</string>
      </dict>
      <key>by_effect_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,224},{181,182}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,182}}</string>
        <key>sourceSize</key>
        <string>{181,184}</string>
      </dict>
      <key>by_effect_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,552},{129,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,148}}</string>
        <key>sourceSize</key>
        <string>{129,148}</string>
      </dict>
      <key>by_effect_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,144}}</string>
        <key>sourceSize</key>
        <string>{144,144}</string>
      </dict>
      <key>by_effect_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,408},{129,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,148}}</string>
        <key>sourceSize</key>
        <string>{129,148}</string>
      </dict>
      <key>by_effect_ma1.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{208,222}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,0},{208,222}}</string>
        <key>sourceSize</key>
        <string>{224,224}</string>
      </dict>
      <key>by_effect_ma2.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{229,181}</string>
      </dict>
      <key>by_turntable_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{230,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,230}}</string>
        <key>sourceSize</key>
        <string>{230,230}</string>
      </dict>
      <key>by_turntable_98_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,687},{251,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,101}}</string>
        <key>sourceSize</key>
        <string>{251,101}</string>
      </dict>
      <key>by_turntable_98_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,558},{101,73}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{107,73}</string>
      </dict>
      <key>cycle_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{196,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,56}}</string>
        <key>sourceSize</key>
        <string>{196,56}</string>
      </dict>
      <key>cycle_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{203,182}</string>
      </dict>
      <key>cycle_bgg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,528},{203,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{203,64}}</string>
        <key>sourceSize</key>
        <string>{203,64}</string>
      </dict>
      <key>effect_Energy_fish_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>effect_Gold100_fish_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,66},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,343},{30,42}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,303},{16,42}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,0},{16,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,198},{40,42}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,154},{40,42}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{40,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,259},{16,42}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,0},{16,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold100_fish_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,255},{30,42}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_Gold_fish_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,382},{31,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{31,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,224},{23,33}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,1},{23,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,391},{11,33}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,1},{11,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,417},{29,33}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{29,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,382},{29,33}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{29,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,378},{11,33}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,1},{11,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Gold_fish_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,220},{23,33}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{23,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,424},{31,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{31,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,148},{23,33}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,1},{23,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,343},{11,33}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,1},{11,33}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,411},{33,35}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{33,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,387},{31,35}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,0},{31,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,183},{27,35}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,0},{27,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_Silver_fish_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,374},{31,35}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,0},{31,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>effect_amount_fish_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,110},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,330},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,347},{16,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{16,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,286},{40,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{40,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,242},{40,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{40,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,104},{18,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,0},{18,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>effect_amount_fish_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,299},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>machine_battery_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,66},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{26,36}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>machine_de_di.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{224,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,148}}</string>
        <key>sourceSize</key>
        <string>{224,148}</string>
      </dict>
      <key>machine_de_zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,633},{138,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,52}}</string>
        <key>sourceSize</key>
        <string>{138,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>effect_coin.png</string>
      <key>size</key>
      <string>{512,788}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:4f24f92fa17e3e66e99e2af5f0c7697d$</string>
      <key>textureFileName</key>
      <string>effect_coin.png</string>
    </dict>
  </dict>
</plist>

