<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bag_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,195},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{126,122}</string>
      </dict>
      <key>bag_10000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,315},{94,104}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,4},{94,104}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_10115.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,775},{98,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,7},{98,100}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_10200.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,775},{98,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,7},{98,100}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_10300.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,195},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10300_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,415},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10300_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,4},{111,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,79}}</string>
        <key>sourceSize</key>
        <string>{111,79}</string>
      </dict>
      <key>bag_10301.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,537},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10301_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,415},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10302.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,655},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10302_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,899},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10303.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,315},{94,110}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,3},{94,110}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_10304.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,779},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10304_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,195},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10305.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,535},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10305_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,415},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10306.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,659},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10306_e.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,899},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10307.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,779},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10311.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,4},{114,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10312.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,415},{114,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10313.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,535},{114,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10314.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,535},{114,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>bag_10315.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,314},{80,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,78}}</string>
        <key>sourceSize</key>
        <string>{80,78}</string>
      </dict>
      <key>bag_10316.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,121},{110,108}}</string>
        <key>offset</key>
        <string>{3,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,6},{110,108}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_10331.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,237},{72,71}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,6},{72,71}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>bag_10332.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,114},{74,73}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,4},{74,73}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>bag_10333.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,241},{80,67}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,10},{80,67}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>bag_10334.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,241},{74,67}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,10},{74,67}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>bag_10335.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,885},{104,71}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,6},{104,71}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>bag_10400.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,881},{97,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,99}</string>
      </dict>
      <key>bag_11001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,415},{86,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,88}}</string>
        <key>sourceSize</key>
        <string>{86,88}</string>
      </dict>
      <key>bag_11001_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{169,213}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,213}}</string>
        <key>sourceSize</key>
        <string>{169,213}</string>
      </dict>
      <key>bag_11001_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,124},{111,103}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,4},{111,103}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>bag_11001_p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,4},{165,185}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,15},{165,185}}</string>
        <key>sourceSize</key>
        <string>{169,213}</string>
      </dict>
      <key>bag_12003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,775},{92,104}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,5},{92,104}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_12004.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,4},{92,104}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,5},{92,104}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_12005.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,315},{94,110}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,2},{94,110}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_12006.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,4},{92,108}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,3},{92,108}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>bag_20000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,760},{93,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,13},{93,89}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>bag_bullet_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,659},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{114,114}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>bag_diamond.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,655},{99,93}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,12},{99,93}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>bag_drop_l.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,223},{180,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{180,186}}</string>
        <key>sourceSize</key>
        <string>{186,186}</string>
      </dict>
      <key>bag_fishGold.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,535},{85,89}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,14},{85,89}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>bag_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,535},{85,89}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,14},{85,89}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>bag_nofound.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,655},{92,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,15},{92,92}}</string>
        <key>sourceSize</key>
        <string>{126,122}</string>
      </dict>
      <key>bag_skill_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,885},{102,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{102,102}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fish_prop.png</string>
      <key>size</key>
      <string>{741,1017}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f092ec3e04c18b02e441543be59a668f$</string>
      <key>textureFileName</key>
      <string>fish_prop.png</string>
    </dict>
  </dict>
</plist>

