<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pook_bydrqp_clear_amz.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,92},{58,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,36}}</string>
        <key>sourceSize</key>
        <string>{58,36}</string>
      </dict>
      <key>pook_bydrqp_clear_b1.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,30},{104,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>pook_bydrqp_clear_b2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,70}}</string>
        <key>sourceSize</key>
        <string>{104,70}</string>
      </dict>
      <key>pook_bydrqp_clear_b3.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,22},{210,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,68}}</string>
        <key>sourceSize</key>
        <string>{210,68}</string>
      </dict>
      <key>pook_bydrqp_clear_b4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{104,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>pook_bydrqp_clear_link.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,82},{12,12}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,24}</string>
      </dict>
      <key>pook_bydrqp_clear_title.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,82},{74,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,34}}</string>
        <key>sourceSize</key>
        <string>{74,34}</string>
      </dict>
      <key>pook_bydrqp_clear_w1.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,52},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>pook_bydrqp_clear_w2.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,118},{66,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,0},{66,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>pook_bydrqp_clear_w3.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,22},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>pook_bydrqp_clear_w4.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>pook_bydrqp_clear_w5.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,92},{144,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,20}}</string>
        <key>sourceSize</key>
        <string>{144,20}</string>
      </dict>
      <key>pook_bydrqp_clear_w6.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{314,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{314,20}}</string>
        <key>sourceSize</key>
        <string>{314,20}</string>
      </dict>
      <key>pook_bydrqp_clear_w7.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,100},{68,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,0},{68,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_clear.png</string>
      <key>size</key>
      <string>{512,146}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:ca386f1fbcf03a12ee4fcf80115cb543$</string>
      <key>textureFileName</key>
      <string>fishres_clear.png</string>
    </dict>
  </dict>
</plist>

