<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fish_com1.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,553},{207,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,207}}</string>
        <key>sourceSize</key>
        <string>{207,207}</string>
      </dict>
      <key>fish_com10.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,197},{131,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,131}}</string>
        <key>sourceSize</key>
        <string>{131,131}</string>
      </dict>
      <key>fish_com11.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,329},{222,210}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,12},{222,210}}</string>
        <key>sourceSize</key>
        <string>{222,222}</string>
      </dict>
      <key>fish_com12.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,329},{224,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,224}}</string>
        <key>sourceSize</key>
        <string>{224,224}</string>
      </dict>
      <key>fish_com2.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,551},{208,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,214}}</string>
        <key>sourceSize</key>
        <string>{208,214}</string>
      </dict>
      <key>fish_com3.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{197,217}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,217}}</string>
        <key>sourceSize</key>
        <string>{197,217}</string>
      </dict>
      <key>fish_com4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{218,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,223}}</string>
        <key>sourceSize</key>
        <string>{218,223}</string>
      </dict>
      <key>fish_com5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{254,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{254,254}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>fish_com6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{379,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{379,286}}</string>
        <key>sourceSize</key>
        <string>{379,286}</string>
      </dict>
      <key>fish_com7.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,0},{329,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{329,178}}</string>
        <key>sourceSize</key>
        <string>{329,178}</string>
      </dict>
      <key>fish_com8.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>fish_com9.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,197},{210,210}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,7},{210,210}}</string>
        <key>sourceSize</key>
        <string>{222,222}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_fish_com.png</string>
      <key>size</key>
      <string>{898,763}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:5be330fc5381e906b95365c1401ef31f$</string>
      <key>textureFileName</key>
      <string>fishres_fish_com.png</string>
    </dict>
  </dict>
</plist>

