<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bugp_comp1.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,88},{84,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,82}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>bugp_cross_target.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,242},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>bugp_fishmenu_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,76},{39,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,93}}</string>
        <key>sourceSize</key>
        <string>{39,93}</string>
      </dict>
      <key>bugp_fishmenu_r.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,122},{36,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,60}}</string>
        <key>sourceSize</key>
        <string>{36,60}</string>
      </dict>
      <key>bugp_fishmenu_shown.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,166},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{128,156}</string>
      </dict>
      <key>bugp_getcoin_btn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,94},{84,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>bugp_getcoin_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,88},{108,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,102}}</string>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>bugp_gun_basepoint.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,298},{96,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,32}}</string>
        <key>sourceSize</key>
        <string>{96,32}</string>
      </dict>
      <key>bugp_gun_changeadd0.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,250},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>bugp_gun_changedec0.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,242},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>bugp_gun_splash.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,174},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>bugp_pa_frame.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,166},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{98,72}</string>
      </dict>
      <key>bugp_pa_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,78},{52,62}}</string>
        <key>offset</key>
        <string>{-3,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,7},{52,62}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>bugp_panel_paopao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,55},{22,14}}</string>
        <key>offset</key>
        <string>{-5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,6},{22,14}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>bugp_papool_fish.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,284},{60,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,24}}</string>
        <key>sourceSize</key>
        <string>{60,24}</string>
      </dict>
      <key>bugp_papool_name.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,248},{42,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,24}}</string>
        <key>sourceSize</key>
        <string>{42,24}</string>
      </dict>
      <key>bugp_pgun_basepoint.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,42},{166,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,50}}</string>
        <key>sourceSize</key>
        <string>{166,50}</string>
      </dict>
      <key>bugp_pgun_changeadd0.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,253},{69,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,56}}</string>
        <key>sourceSize</key>
        <string>{69,56}</string>
      </dict>
      <key>bugp_pgun_changedec0.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,247},{69,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,56}}</string>
        <key>sourceSize</key>
        <string>{69,56}</string>
      </dict>
      <key>bugp_pinfo_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,332},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>bugp_pinfo_gunlv.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,329},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>bugp_pinfo_lv.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,299},{88,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,28}}</string>
        <key>sourceSize</key>
        <string>{88,28}</string>
      </dict>
      <key>bugp_rage_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,342},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>bugp_rage_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,299},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>bugp_rage_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,274},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>bugp_rage_ico.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,171},{61,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,67}}</string>
        <key>sourceSize</key>
        <string>{61,67}</string>
      </dict>
      <key>bugp_rage_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,240},{58,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,10},{58,57}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>bugp_rage_pause.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,2},{22,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{22,27}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>bugp_rage_pbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,344},{209,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,37}}</string>
        <key>sourceSize</key>
        <string>{209,37}</string>
      </dict>
      <key>bugp_rage_pfg.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,383},{197,23}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{197,23}}</string>
        <key>sourceSize</key>
        <string>{209,37}</string>
      </dict>
      <key>bugp_rage_pl.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,184},{32,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,37}}</string>
        <key>sourceSize</key>
        <string>{32,37}</string>
      </dict>
      <key>bugp_rage_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,174},{78,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>bugp_richpool.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,2},{184,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,84}}</string>
        <key>sourceSize</key>
        <string>{184,84}</string>
      </dict>
      <key>bugp_richpool3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{184,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,84}}</string>
        <key>sourceSize</key>
        <string>{184,84}</string>
      </dict>
      <key>bugp_room_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,223},{34,34}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>bugp_shot_miss.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,204},{90,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,44}}</string>
        <key>sourceSize</key>
        <string>{90,44}</string>
      </dict>
      <key>bugp_tasktip_arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,192},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>bugp_tomorrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,42},{84,80}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,80}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>bugp_ui_bottom.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,2},{256,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,38}}</string>
        <key>sourceSize</key>
        <string>{256,38}</string>
      </dict>
      <key>bugp_ui_bullet_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,360},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_clear_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,308},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_cpt_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,278},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_fishlist_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,258},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_guild_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,162},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_lb.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,208},{83,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>bugp_ui_option_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,124},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_ui_pc.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,2},{104,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,72}}</string>
        <key>sourceSize</key>
        <string>{104,72}</string>
      </dict>
      <key>bugp_ui_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,2},{138,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,74}}</string>
        <key>sourceSize</key>
        <string>{138,74}</string>
      </dict>
      <key>bugp_ui_ring.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,2},{120,118}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{120,118}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>bugp_ui_vip0.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,166},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>bugp_ui_vip1.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,166},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>bugp_ui_wait_player.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,88},{174,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,76}}</string>
        <key>sourceSize</key>
        <string>{174,76}</string>
      </dict>
      <key>bugp_ui_wboss_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,94},{78,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{78,78}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_uiq_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,274},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_uiq_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,192},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_uiq_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,172},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_uiq_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,122},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_uiq_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,78},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_uiq_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,76},{80,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>bugp_unlock_s1a.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,305},{78,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>bugp_unlock_s1j.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,305},{78,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>bugp_unlock_s1x.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,222},{42,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,24}}</string>
        <key>sourceSize</key>
        <string>{42,24}</string>
      </dict>
      <key>bugp_unlock_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,382},{128,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,34}}</string>
        <key>sourceSize</key>
        <string>{128,34}</string>
      </dict>
      <key>bugp_unlock_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,306},{54,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,34}}</string>
        <key>sourceSize</key>
        <string>{54,34}</string>
      </dict>
      <key>bugp_unlock_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,142},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>bugp_unlock_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,344},{210,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,38}}</string>
        <key>sourceSize</key>
        <string>{210,38}</string>
      </dict>
      <key>bugp_wu_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,166},{68,74}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,6},{68,74}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>bugp_zhunxing_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,164},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>bugp_zhunxing_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,31},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>bugp_zhunxing_m1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,166},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bugp_zhunxing_m2.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,188},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>bugui_mset.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,246},{81,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>gl_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,311},{68,27}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{68,27}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,321},{78,21}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,307},{78,21}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,6},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,284},{78,21}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,362},{78,21}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,359},{78,21}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
      <key>gl_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,331},{78,21}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{78,21}}</string>
        <key>sourceSize</key>
        <string>{80,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_panel.png</string>
      <key>size</key>
      <string>{1024,440}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:73fb76a45b893cbe506b15e24f237e0d$</string>
      <key>textureFileName</key>
      <string>fishres_panel.png</string>
    </dict>
  </dict>
</plist>

