<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>unlock_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,201},{168,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,72}}</string>
        <key>sourceSize</key>
        <string>{168,72}</string>
      </dict>
      <key>unlock_cond.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,287},{179,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,250}}</string>
        <key>sourceSize</key>
        <string>{179,250}</string>
      </dict>
      <key>unlock_gg.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,468},{80,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,28}}</string>
        <key>sourceSize</key>
        <string>{80,28}</string>
      </dict>
      <key>unlock_gou.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,2},{44,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>unlock_lock.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,275},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>unlock_pres.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,2},{171,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,46}}</string>
        <key>sourceSize</key>
        <string>{171,46}</string>
      </dict>
      <key>unlock_scale.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{207,283}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,283}}</string>
        <key>sourceSize</key>
        <string>{207,283}</string>
      </dict>
      <key>unlock_suc.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,2},{116,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,31}}</string>
        <key>sourceSize</key>
        <string>{116,31}</string>
      </dict>
      <key>unlock_title.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,468},{132,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,34}}</string>
        <key>sourceSize</key>
        <string>{132,34}</string>
      </dict>
      <key>unlock_u.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,2},{169,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,197}}</string>
        <key>sourceSize</key>
        <string>{169,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishres_unlock.png</string>
      <key>size</key>
      <string>{509,504}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:57a9c67a3a60d02a2f0eae5340a316e0$</string>
      <key>textureFileName</key>
      <string>fishres_unlock.png</string>
    </dict>
  </dict>
</plist>

