<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gplock_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,245},{52,58}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,8},{52,58}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>gplock_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,296},{52,58}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,8},{52,58}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>gplock_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,245},{52,64}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{52,64}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>gplock_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,230},{52,64}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{52,64}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>gplock_light_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,134},{13,55}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,9},{13,55}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,97},{91,61}}</string>
        <key>offset</key>
        <string>{-36,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,28},{91,61}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,97},{21,35}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59,42},{21,35}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,134},{11,21}}</string>
        <key>offset</key>
        <string>{-6,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,60},{11,21}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,189},{69,39}}</string>
        <key>offset</key>
        <string>{-27,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,48},{69,39}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,2},{111,93}}</string>
        <key>offset</key>
        <string>{14,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,57},{111,93}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,106},{93,81}}</string>
        <key>offset</key>
        <string>{14,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,59},{93,81}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,160},{87,83}}</string>
        <key>offset</key>
        <string>{29,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67,66},{87,83}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{135,61}}</string>
        <key>offset</key>
        <string>{-14,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,71},{135,61}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,65},{95,39}}</string>
        <key>offset</key>
        <string>{-15,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,78},{95,39}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,191},{59,93}}</string>
        <key>offset</key>
        <string>{-13,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,7},{59,93}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>gplock_light_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,65},{31,63}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,24},{31,63}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gplock.png</string>
      <key>size</key>
      <string>{253,356}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:c6261efe6a2efb41f387bb4ac5e5ac9e$</string>
      <key>textureFileName</key>
      <string>gplock.png</string>
    </dict>
  </dict>
</plist>

