<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>accmgr_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,114},{111,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,43}}</string>
        <key>sourceSize</key>
        <string>{111,43}</string>
      </dict>
      <key>accmgr_choice.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,78},{128,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,34}}</string>
        <key>sourceSize</key>
        <string>{128,34}</string>
      </dict>
      <key>accmgr_create.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,2},{158,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,44}}</string>
        <key>sourceSize</key>
        <string>{158,44}</string>
      </dict>
      <key>accmgr_di.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,2},{156,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,6}}</string>
        <key>sourceSize</key>
        <string>{156,6}</string>
      </dict>
      <key>accmgr_last.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,159},{106,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,26}}</string>
        <key>sourceSize</key>
        <string>{106,26}</string>
      </dict>
      <key>accmgr_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,348},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,30}</string>
      </dict>
      <key>accmgr_nine.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,187},{64,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,45}}</string>
        <key>sourceSize</key>
        <string>{64,45}</string>
      </dict>
      <key>accmgr_nine2.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,2},{40,305}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,305}}</string>
        <key>sourceSize</key>
        <string>{40,305}</string>
      </dict>
      <key>accmgr_nine3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{344,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{344,38}}</string>
        <key>sourceSize</key>
        <string>{344,38}</string>
      </dict>
      <key>accmgr_title.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,48},{144,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,28}}</string>
        <key>sourceSize</key>
        <string>{144,28}</string>
      </dict>
      <key>accmgr_x.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,234},{42,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{42,42}}</string>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>loginres_accmgr.png</string>
      <key>size</key>
      <string>{252,380}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:854dff7745ebfbddfd88bd9cac018a5b$</string>
      <key>textureFileName</key>
      <string>loginres_accmgr.png</string>
    </dict>
  </dict>
</plist>

