<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>set_bar.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,46},{162,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,38}}</string>
        <key>sourceSize</key>
        <string>{162,38}</string>
      </dict>
      <key>set_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,2},{108,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,66}}</string>
        <key>sourceSize</key>
        <string>{108,66}</string>
      </dict>
      <key>set_btnO.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,2},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{166,64}</string>
      </dict>
      <key>set_btn_music.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,70},{32,40}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,10},{32,40}}</string>
        <key>sourceSize</key>
        <string>{108,66}</string>
      </dict>
      <key>set_btn_vol.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,53},{36,40}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,10},{36,40}}</string>
        <key>sourceSize</key>
        <string>{108,66}</string>
      </dict>
      <key>set_gameEffect.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,86},{144,38}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,38}}</string>
        <key>sourceSize</key>
        <string>{144,40}</string>
      </dict>
      <key>set_music.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,86},{140,38}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{140,38}}</string>
        <key>sourceSize</key>
        <string>{144,40}</string>
      </dict>
      <key>set_o.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,109},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>set_proxy.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,126},{145,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,29}}</string>
        <key>sourceSize</key>
        <string>{145,29}</string>
      </dict>
      <key>set_scrollbull.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,126},{142,34}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{142,34}}</string>
        <key>sourceSize</key>
        <string>{144,40}</string>
      </dict>
      <key>set_soundEffect.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,46},{144,38}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{144,38}}</string>
        <key>sourceSize</key>
        <string>{144,40}</string>
      </dict>
      <key>set_sw_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{331,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,42}}</string>
        <key>sourceSize</key>
        <string>{331,42}</string>
      </dict>
      <key>set_sw_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,95},{34,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,35}}</string>
        <key>sourceSize</key>
        <string>{34,35}</string>
      </dict>
      <key>set_sw_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,2},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>set_tab_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,70},{74,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,34}}</string>
        <key>sourceSize</key>
        <string>{74,34}</string>
      </dict>
      <key>set_w1.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,81},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>set_w2.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,53},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>optionalres_set.png</string>
      <key>size</key>
      <string>{511,162}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:c256bd7e50f3c943729e3ff146d6380b$</string>
      <key>textureFileName</key>
      <string>optionalres_set.png</string>
    </dict>
  </dict>
</plist>

