<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bottom_btn-2-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,865},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,92}</string>
      </dict>
      <key>btn_add.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,860},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>btn_blank.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{178,74}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{178,74}}</string>
        <key>sourceSize</key>
        <string>{178,98}</string>
      </dict>
      <key>btn_gray.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,91},{226,100}}</string>
        <key>offset</key>
        <string>{-1,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,28},{226,100}}</string>
        <key>sourceSize</key>
        <string>{230,128}</string>
      </dict>
      <key>btn_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,193},{230,100}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,28},{230,100}}</string>
        <key>sourceSize</key>
        <string>{230,128}</string>
      </dict>
      <key>btn_green_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,815},{138,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,48}}</string>
        <key>sourceSize</key>
        <string>{138,48}</string>
      </dict>
      <key>btn_green_mid.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,646},{115,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,44}}</string>
        <key>sourceSize</key>
        <string>{115,44}</string>
      </dict>
      <key>btn_green_mid_small.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,111},{101,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,57}}</string>
        <key>sourceSize</key>
        <string>{101,57}</string>
      </dict>
      <key>btn_green_small.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,242},{83,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,46}}</string>
        <key>sourceSize</key>
        <string>{83,46}</string>
      </dict>
      <key>btn_new_big_yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,295},{192,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,91}}</string>
        <key>sourceSize</key>
        <string>{192,91}</string>
      </dict>
      <key>btn_new_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{168,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,80}}</string>
        <key>sourceSize</key>
        <string>{168,80}</string>
      </dict>
      <key>btn_new_small_yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,957},{83,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,46}}</string>
        <key>sourceSize</key>
        <string>{83,46}</string>
      </dict>
      <key>btn_new_yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,505},{170,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,80}}</string>
        <key>sourceSize</key>
        <string>{170,80}</string>
      </dict>
      <key>btn_purple.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,587},{168,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,79}}</string>
        <key>sourceSize</key>
        <string>{168,79}</string>
      </dict>
      <key>btn_yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,91},{226,100}}</string>
        <key>offset</key>
        <string>{-1,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,28},{226,100}}</string>
        <key>sourceSize</key>
        <string>{230,128}</string>
      </dict>
      <key>btn_yellow_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,744},{146,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,69}}</string>
        <key>sourceSize</key>
        <string>{146,69}</string>
      </dict>
      <key>cursor.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{4,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,32}}</string>
        <key>sourceSize</key>
        <string>{4,32}</string>
      </dict>
      <key>fish_lv.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1005},{28,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,19}}</string>
        <key>sourceSize</key>
        <string>{28,19}</string>
      </dict>
      <key>g_btn_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,91},{226,100}}</string>
        <key>offset</key>
        <string>{-1,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,18},{226,100}}</string>
        <key>sourceSize</key>
        <string>{230,118}</string>
      </dict>
      <key>g_gou.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,818},{40,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,39}}</string>
        <key>sourceSize</key>
        <string>{40,39}</string>
      </dict>
      <key>g_gou_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,290},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>g_tishi.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,927},{74,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,34}}</string>
        <key>sourceSize</key>
        <string>{74,34}</string>
      </dict>
      <key>gf_close_btn-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,388},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,36},{56,56}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>gf_close_btn-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,295},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>gf_close_btn-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,170},{80,70}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{80,70}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>gf_prop_item_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{146,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>guide_arrow_blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{168,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,188}}</string>
        <key>sourceSize</key>
        <string>{168,188}</string>
      </dict>
      <key>i_star.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,860},{58,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{58,56}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>msg_title_ribbon.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{392,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{392,89}}</string>
        <key>sourceSize</key>
        <string>{392,89}</string>
      </dict>
      <key>nc_update.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,440},{76,32}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{76,32}}</string>
        <key>sourceSize</key>
        <string>{80,32}</string>
      </dict>
      <key>net_continue.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,369},{68,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,35}}</string>
        <key>sourceSize</key>
        <string>{68,35}</string>
      </dict>
      <key>net_quit.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,356},{67,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,33}}</string>
        <key>sourceSize</key>
        <string>{67,33}</string>
      </dict>
      <key>no.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,406},{76,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{76,32}}</string>
        <key>sourceSize</key>
        <string>{80,32}</string>
      </dict>
      <key>room_btn_lock.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,865},{52,60}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,7},{52,60}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>ui_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{110,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,109}}</string>
        <key>sourceSize</key>
        <string>{110,109}</string>
      </dict>
      <key>unlock_x.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,388},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,36},{56,56}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>vw_name_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,604},{124,40}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,476},{124,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,42}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,432},{124,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,42}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,562},{124,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{124,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,776},{122,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{122,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,520},{124,40}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,734},{122,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{122,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,388},{124,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,42}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,692},{122,40}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{122,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>vw_name_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,818},{94,40}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,0},{94,40}}</string>
        <key>sourceSize</key>
        <string>{124,42}</string>
      </dict>
      <key>yes.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,963},{78,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{78,32}}</string>
        <key>sourceSize</key>
        <string>{80,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>static_usual.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f37c5f3528f2a5d77be88b7956f20f8a$</string>
      <key>textureFileName</key>
      <string>static_usual.png</string>
    </dict>
  </dict>
</plist>

