<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huguandakaishaizhong0001.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huguandakaishaizhong0002.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huguandakaishaizhong0003.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huguandakaishaizhong0004.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huguandakaishaizhong0005.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huguandakaishaizhong0006.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heguanyaoshaizhong0001.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heguanyaoshaizhong0002.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heguanyaoshaizhong0003.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>644</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>heguandonghua_shuihuzhuan0.png</string>
			<key>realTextureFileName</key>
			<string>heguandonghua_shuihuzhuan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>