<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish18_move_1.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.75</real>
				<key>offsetY</key>
				<real>-5.25</real>
			</dict>
			<key>fish18_move_2.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>313</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.75</real>
				<key>offsetY</key>
				<real>-9.25</real>
			</dict>
			<key>fish18_move_3.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.75</real>
				<key>offsetY</key>
				<real>-7.875</real>
			</dict>
			<key>fish18_move_4.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>-0.125</real>
				<key>offsetY</key>
				<real>-6.875</real>
			</dict>
			<key>fish18_move_6.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>315</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>1.75</real>
				<key>offsetY</key>
				<real>-1.25</real>
			</dict>
			<key>fish18_move_7.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>-0.75</real>
				<key>offsetY</key>
				<real>1.125</real>
			</dict>
			<key>fish18_move_8.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>-1.375</real>
				<key>offsetY</key>
				<real>1.75</real>
			</dict>
			<key>fish18_move_9.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.875</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yu18_buyu0.png</string>
			<key>realTextureFileName</key>
			<string>yu18_buyu0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>