<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game71/btnStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,100},{203,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,67}</string>
			</dict>
			<key>game71/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,318},{98,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,39}</string>
			</dict>
			<key>game71/timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,307},{120,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,90}</string>
			</dict>
			<key>game71/timerRun.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,452},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>game71/btnGiveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,127},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>game71/balance/btitle_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{521,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,94}</string>
			</dict>
			<key>game71/xinxi_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,100},{180,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,102}</string>
			</dict>
			<key>game71/btn_10fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,113},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btn_1fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,100},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btn_4fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,206},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btn_7fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,460},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btnCall.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,206},{128,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,78}</string>
			</dict>
			<key>game71/btnHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,288},{132,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,67}</string>
			</dict>
			<key>game71/btnNocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,390},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game71/btnShowcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,324},{132,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,67}</string>
			</dict>
			<key>game71/call.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,336},{75,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,43}</string>
			</dict>
			<key>game71/img_nnjn_txdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{129,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,173}</string>
			</dict>
			<key>game71/img_nnjn_txdi_xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,2},{266,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>game71/btn_2fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,459},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btn_3fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,218},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game71/btn_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,383},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game71/btn_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,127},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game71/btn_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,230},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game71/btn_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,364},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game71/Play_Orientation.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,424},{71,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,53}</string>
			</dict>
			<key>game71/icon_x0.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,424},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game71/niu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,100},{319,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,60}</string>
			</dict>
			<key>game71/tishitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,100},{286,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,56}</string>
			</dict>
			<key>game71/btn_sit.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,423},{224,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,78}</string>
			</dict>
			<key>game71/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,100},{214,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,74}</string>
			</dict>
			<key>game71/btnInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,127},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>game71/guizeclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,452},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>game71/guizelb.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,2},{107,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game71.png</string>
			<key>realTextureFileName</key>
			<string>game71.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>