<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bglu_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,435},{236,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,231}}</string>
                <key>sourceSize</key>
                <string>{236,231}</string>
            </dict>
            <key>effect_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,431}}</string>
                <key>sourceSize</key>
                <string>{405,431}</string>
            </dict>
            <key>effect_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{246,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,251}}</string>
                <key>sourceSize</key>
                <string>{246,251}</string>
            </dict>
            <key>effect_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{217,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,206}}</string>
                <key>sourceSize</key>
                <string>{217,206}</string>
            </dict>
            <key>fish_49_pic00.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,228},{180,170}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{180,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,540},{130,152}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,52},{130,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,905},{116,138}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{116,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,660},{146,132}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,83},{146,132}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,410},{154,128}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,82},{154,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,392},{164,126}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,84},{164,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,520},{138,156}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{138,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic07.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,428},{138,182}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,28},{138,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic08.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,228},{162,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,44},{162,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,688},{238,228}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{238,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{248,238}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,673},{230,230}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic12.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,228},{196,198}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{196,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_pic13.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{228,224}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{228,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish_49_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{248,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,59}}</string>
                <key>sourceSize</key>
                <string>{248,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wudifenghuolun_buyu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163c0d45026c65875de6297c6c5c480e$</string>
            <key>textureFileName</key>
            <string>wudifenghuolun_buyu.png</string>
        </dict>
    </dict>
</plist>
