<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/hall/btn_01_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,226},{214,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,75}}</string>
                <key>sourceSize</key>
                <string>{214,75}</string>
            </dict>
            <key>hall/plist/hall/btn_02_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/hall/btn_03_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>hall/plist/hall/btn_04_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,251},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-all-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-all-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-arcade-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-arcade-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-card-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-card-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,341},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-fish-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-fish-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,341},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-tiger-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,137},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/classify-btn-tiger-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,347},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>hall/plist/hall/gui-activity-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,413},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>hall/plist/hall/gui-activity-btn-register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,94}}</string>
                <key>sourceSize</key>
                <string>{294,94}</string>
            </dict>
            <key>hall/plist/hall/gui-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,225},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>hall/plist/hall/gui-btn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{247,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,89}}</string>
                <key>sourceSize</key>
                <string>{247,89}</string>
            </dict>
            <key>hall/plist/hall/gui-btn-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{257,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,90}}</string>
                <key>sourceSize</key>
                <string>{257,90}</string>
            </dict>
            <key>hall/plist/hall/gui-gm-icon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,409},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-arrow-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,337},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-arrow-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,429},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-bottom-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{1038,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,47}}</string>
                <key>sourceSize</key>
                <string>{1038,47}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,137},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-classify.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,137},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-gold-add.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,467},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-guest-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,225},{114,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,83}}</string>
                <key>sourceSize</key>
                <string>{114,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,225},{114,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,83}}</string>
                <key>sourceSize</key>
                <string>{114,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,137},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-report.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,442},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-service.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,442},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-spread.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,137},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-btn-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,429},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-button-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,226},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-classifybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,225},{110,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,576}}</string>
                <key>sourceSize</key>
                <string>{110,576}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-img-red-point.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,467},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-page-active.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,467},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-page-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,495},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-service-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,467},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-service-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,467},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,51},{1032,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,84}}</string>
                <key>sourceSize</key>
                <string>{1032,84}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-btn-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,137},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-cash-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,137},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-cash-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,137},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,442},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-gold-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,230},{220,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,51}}</string>
                <key>sourceSize</key>
                <string>{220,51}</string>
            </dict>
            <key>hall/plist/hall/gui-hall-top-head-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,435},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hall/plist/hall/gui-image-btn-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,298},{772,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,167}}</string>
                <key>sourceSize</key>
                <string>{772,167}</string>
            </dict>
            <key>hall/plist/hall/gui-image-btn-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{247,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,622}}</string>
                <key>sourceSize</key>
                <string>{247,622}</string>
            </dict>
            <key>hall/plist/hall/gui-image-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,467},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>hall/plist/hall/gui-logo-hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,361},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>hall/plist/hall/gui-logo-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,361},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>hall/plist/hall/gui-texture-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hall/plist/hall/image-download-logo-error.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,337},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-logo-install.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,409},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-logo-update.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,337},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-logo-wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,409},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-need.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,409},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-res-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,337},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-download-res-pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,337},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall/plist/hall/image-text-guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,452},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-hall.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f28066f9ba93bb2635e102bec7b0a1$</string>
            <key>textureFileName</key>
            <string>gui-hall.png</string>
        </dict>
    </dict>
</plist>
