<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/shop/gui-recharge-icon-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,153},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/shop/gui-recharge-icon-jindon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,50},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/shop/gui-recharge-icon-koukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,389},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/shop/gui-recharge-icon-wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,389},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/shop/gui-recharge-icon-zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,389},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-9sprite-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,312},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-9sprite-input.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,219},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-agent-btn-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,94},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-agent-btn-recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,435},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-agent-icon-koukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,325},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-agent-icon-wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,325},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-agent-item-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,101}}</string>
                <key>sourceSize</key>
                <string>{386,101}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-agent-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,256},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-agent-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,281},{200,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,47}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{120,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,227},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-copy-koukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{322,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,84}}</string>
                <key>sourceSize</key>
                <string>{322,84}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-copy-wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,174},{322,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,84}}</string>
                <key>sourceSize</key>
                <string>{322,84}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-dianka-gold-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,50},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-dianka-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,195},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-dianka-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,256},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-dianka-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,281},{200,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,47}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,296},{173,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,65}}</string>
                <key>sourceSize</key>
                <string>{173,65}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-jindon-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,256},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-jindon-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,296},{200,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,47}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-koukou-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{173,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,47}}</string>
                <key>sourceSize</key>
                <string>{173,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-koukou-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{194,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,47}}</string>
                <key>sourceSize</key>
                <string>{194,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-report.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{248,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,91}}</string>
                <key>sourceSize</key>
                <string>{248,91}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-union-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{192,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,47}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-union-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{216,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,47}}</string>
                <key>sourceSize</key>
                <string>{216,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-wx-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,312},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-wx-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,296},{200,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,47}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-zfb-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{192,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,47}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-btn-zfb-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{216,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,47}}</string>
                <key>sourceSize</key>
                <string>{216,47}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-dianka-check-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,435},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-dianka-check.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,312},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-list-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,495},{702,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,8}}</string>
                <key>sourceSize</key>
                <string>{702,8}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-text-jubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,235},{166,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-text-lianxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,174},{166,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-text-myid.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,256},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>hall/plist/shop/gui-shop-tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{216,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,77}}</string>
                <key>sourceSize</key>
                <string>{216,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-shop.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edde364e8dc3b6559afc2235ad6cd44$</string>
            <key>textureFileName</key>
            <string>gui-shop.png</string>
        </dict>
    </dict>
</plist>
