<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/vip/btn-arrow-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,360},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>hall/plist/vip/btn-arrow-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,879},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>hall/plist/vip/btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,88},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>hall/plist/vip/btn-mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,48},{218,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,83}}</string>
                <key>sourceSize</key>
                <string>{218,83}</string>
            </dict>
            <key>hall/plist/vip/gui-vip-text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{330,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,45}}</string>
                <key>sourceSize</key>
                <string>{330,45}</string>
            </dict>
            <key>hall/plist/vip/gui-vip-text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{332,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,44}}</string>
                <key>sourceSize</key>
                <string>{332,44}</string>
            </dict>
            <key>hall/plist/vip/gui-vip-text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,648},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>hall/plist/vip/gui-vip-text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,606},{185,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,40}}</string>
                <key>sourceSize</key>
                <string>{185,40}</string>
            </dict>
            <key>hall/plist/vip/gui-vipupgrade-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,186},{812,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,172}}</string>
                <key>sourceSize</key>
                <string>{812,172}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,536},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,612},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,466},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,542},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,472},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,45},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_VIP6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,48},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,697},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,697},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,366},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,184},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,707},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_big_VIP6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,707},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,48},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,360},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,879},{159,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{159,135}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,879},{174,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,134}}</string>
                <key>sourceSize</key>
                <string>{174,134}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{265,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,145}}</string>
                <key>sourceSize</key>
                <string>{265,145}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,889},{265,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,125}}</string>
                <key>sourceSize</key>
                <string>{265,125}</string>
            </dict>
            <key>hall/plist/vip/icon_vip_pao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,548},{300,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,147}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>hall/plist/vip/image-fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,367},{310,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,338}}</string>
                <key>sourceSize</key>
                <string>{310,338}</string>
            </dict>
            <key>hall/plist/vip/image-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{192,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,338}}</string>
                <key>sourceSize</key>
                <string>{192,338}</string>
            </dict>
            <key>hall/plist/vip/image-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{348,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,338}}</string>
                <key>sourceSize</key>
                <string>{348,338}</string>
            </dict>
            <key>hall/plist/vip/img-vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,149},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,149},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,149},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,149},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,149},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,924},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/img-vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,889},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hall/plist/vip/progress-bar-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,342},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,20}}</string>
                <key>sourceSize</key>
                <string>{132,20}</string>
            </dict>
            <key>hall/plist/vip/progress-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,991},{481,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,31}}</string>
                <key>sourceSize</key>
                <string>{481,31}</string>
            </dict>
            <key>hall/plist/vip/progress-bg-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,148},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>hall/plist/vip/progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,2},{491,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,41}}</string>
                <key>sourceSize</key>
                <string>{491,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,466},{96,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,41}}</string>
                <key>sourceSize</key>
                <string>{96,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,118},{96,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,41}}</string>
                <key>sourceSize</key>
                <string>{96,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,133},{96,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,41}}</string>
                <key>sourceSize</key>
                <string>{96,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,45},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,133},{96,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,41}}</string>
                <key>sourceSize</key>
                <string>{96,41}</string>
            </dict>
            <key>hall/plist/vip/text-vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>hall/plist/vip/vip_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hall/plist/vip/vip_guangci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,363}}</string>
                <key>sourceSize</key>
                <string>{364,363}</string>
            </dict>
            <key>hall/plist/vip/vip_zj_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,889},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-vip.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7a8d68a6fd4e1167ce80c808d533ac$</string>
            <key>textureFileName</key>
            <string>gui-vip.png</string>
        </dict>
    </dict>
</plist>
