<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/login/gui-dialog-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{391,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,23}}</string>
                <key>sourceSize</key>
                <string>{391,23}</string>
            </dict>
            <key>hall/plist/login/gui-dialog-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{655,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,25}}</string>
                <key>sourceSize</key>
                <string>{655,25}</string>
            </dict>
            <key>hall/plist/login/gui-login-9sprite-input.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,27},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>hall/plist/login/gui-login-bg-9linebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,133},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>hall/plist/login/gui-login-btn-get.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,11},{120,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>hall/plist/login/gui-login-btn-login.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,11},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/login/gui-login-btn-register.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,11},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/login/gui-login-foget-password.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,27},{165,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,46}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>hall/plist/login/gui-login-icon-find.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,27},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>hall/plist/login/gui-login-slider-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,194},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,31}}</string>
                <key>sourceSize</key>
                <string>{63,31}</string>
            </dict>
            <key>hall/plist/login/gui-login-slider-xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{349,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,7}}</string>
                <key>sourceSize</key>
                <string>{349,7}</string>
            </dict>
            <key>hall/plist/login/gui-login-sprite-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,176},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>hall/plist/login/gui-login-sprite-unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,133},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-agreement.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,27},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-findpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,27},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-now-login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,133},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-register.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,27},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,125},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>hall/plist/login/gui-login-text-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,27},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>hall/plist/login/gui-login-user-agreement.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,11},{293,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,40}}</string>
                <key>sourceSize</key>
                <string>{293,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-login.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720855a263364111592d8f307bda9442$</string>
            <key>textureFileName</key>
            <string>gui-login.png</string>
        </dict>
    </dict>
</plist>
