<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/exchange/gui-exchange-record-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,127},{23,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,2}}</string>
                <key>sourceSize</key>
                <string>{23,2}</string>
            </dict>
            <key>hall/plist/exchange/gui-exchange-recordbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{831,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{831,53}}</string>
                <key>sourceSize</key>
                <string>{831,53}</string>
            </dict>
            <key>hall/plist/exchange/gui-hall-title-cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,164},{184,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,79}}</string>
                <key>sourceSize</key>
                <string>{184,79}</string>
            </dict>
            <key>hall/plist/exchange/gui-hall-title-cash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,83},{184,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,79}}</string>
                <key>sourceSize</key>
                <string>{184,79}</string>
            </dict>
            <key>hall/plist/exchange/gui-hall-title-cash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{184,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,79}}</string>
                <key>sourceSize</key>
                <string>{184,79}</string>
            </dict>
            <key>hall/plist/exchange/image-bank-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,479},{195,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,62}}</string>
                <key>sourceSize</key>
                <string>{195,62}</string>
            </dict>
            <key>hall/plist/exchange/image-bank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,463},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,425},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,419},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,403},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank14.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,365},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,359},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,343},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,305},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,299},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,283},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-bank9.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,245},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,623},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,602},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,588},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,543},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,523},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-bank-select3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,485},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,467},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,263},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,229},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,385},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,341},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-record-select3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,297},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,636},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,587},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,567},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-exchange-zhifubao-select3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/exchange/image-title-bindbank.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,57},{201,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,61}}</string>
                <key>sourceSize</key>
                <string>{201,61}</string>
            </dict>
            <key>hall/plist/exchange/image-title-bindzhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,529},{180,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,57}}</string>
                <key>sourceSize</key>
                <string>{180,57}</string>
            </dict>
            <key>hall/plist/exchange/img-btn-bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,120},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/exchange/img-btn-bindexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,213},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/exchange/img-btn-exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/exchange/img-btn-exchange2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,197},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/exchange/img-btn-exchange3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,127},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/exchange/img-exchange-bindbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{627,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,68}}</string>
                <key>sourceSize</key>
                <string>{627,68}</string>
            </dict>
            <key>hall/plist/exchange/img-exchange-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,190},{128,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>hall/plist/exchange/img-exchange-id.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,429},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>hall/plist/exchange/img-exchange-input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{354,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,61}}</string>
                <key>sourceSize</key>
                <string>{354,61}</string>
            </dict>
            <key>hall/plist/exchange/img-icon-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,529},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>hall/plist/exchange/img-icon-zhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,500},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-exchange.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c078d43bbd0864a2d849bfd8054aab54$</string>
            <key>textureFileName</key>
            <string>gui-exchange.png</string>
        </dict>
    </dict>
</plist>
