<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/help/bg-feed.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,946},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>hall/plist/help/bg-help-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{874,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,142}}</string>
                <key>sourceSize</key>
                <string>{874,142}</string>
            </dict>
            <key>hall/plist/help/bg-item-bg-read.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,946},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>hall/plist/help/bg-item-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,946},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>hall/plist/help/bg-message-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,561},{17,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,452}}</string>
                <key>sourceSize</key>
                <string>{17,452}</string>
            </dict>
            <key>hall/plist/help/bgline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,104},{840,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,4}}</string>
                <key>sourceSize</key>
                <string>{840,4}</string>
            </dict>
            <key>hall/plist/help/btn-help-comfir.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{142,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>hall/plist/help/btn-help-copyid.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,946},{214,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,75}}</string>
                <key>sourceSize</key>
                <string>{214,75}</string>
            </dict>
            <key>hall/plist/help/gui-guide-beauty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{357,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,569}}</string>
                <key>sourceSize</key>
                <string>{357,569}</string>
            </dict>
            <key>hall/plist/help/gui-help-btn-online.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/help/gui-inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,561},{85,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,96}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>hall/plist/help/gui-notice-title-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,146},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/help/gui-notice-title-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,794},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/help/gui-notice-title-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,146},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/help/gui-notice-title-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/help/gui-service-tex-feed-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,899},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/help/gui-service-tex-feed.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,146},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/help/gui-service-txt-FAQ-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,794},{147,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,42}}</string>
                <key>sourceSize</key>
                <string>{147,42}</string>
            </dict>
            <key>hall/plist/help/gui-service-txt-FAQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,762},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>hall/plist/help/gui-service-txt-service-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,749},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/help/gui-service-txt-service.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,146},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>hall/plist/help/guid-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,408},{384,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,234}}</string>
                <key>sourceSize</key>
                <string>{384,234}</string>
            </dict>
            <key>hall/plist/help/guide-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,290},{188,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,178}}</string>
                <key>sourceSize</key>
                <string>{188,178}</string>
            </dict>
            <key>hall/plist/help/guide-lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,146},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/help/guide-skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,104},{128,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,83}}</string>
                <key>sourceSize</key>
                <string>{128,83}</string>
            </dict>
            <key>hall/plist/help/guide-tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,737},{260,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,187}}</string>
                <key>sourceSize</key>
                <string>{260,187}</string>
            </dict>
            <key>hall/plist/help/guide-tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,548},{260,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,187}}</string>
                <key>sourceSize</key>
                <string>{260,187}</string>
            </dict>
            <key>hall/plist/help/icon-help-allready.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,946},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>hall/plist/help/icon-help-open-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>hall/plist/help/icon-help-open-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,146},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>hall/plist/help/icon-no-msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,648},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,112}</string>
            </dict>
            <key>hall/plist/help/image-read.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,946},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>hall/plist/help/image-selcetbox-active.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,651},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hall/plist/help/image-selectbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,703},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>hall/plist/help/text-delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{76,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,45}}</string>
                <key>sourceSize</key>
                <string>{76,45}</string>
            </dict>
            <key>hall/plist/help/title-msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,189},{185,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,99}}</string>
                <key>sourceSize</key>
                <string>{185,99}</string>
            </dict>
            <key>hall/plist/help/title-notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,946},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>hall/plist/help/title-service.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,480},{178,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,79}}</string>
                <key>sourceSize</key>
                <string>{178,79}</string>
            </dict>
            <key>hall/plist/help/title-xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,561},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d76f5a1e942a5239d7d9ba1ccbad5d4e$</string>
            <key>textureFileName</key>
            <string>gui-help.png</string>
        </dict>
    </dict>
</plist>
