<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/spread/gui-spread-abcd.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,896},{29,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,122}}</string>
                <key>sourceSize</key>
                <string>{29,122}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-arrow-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,243},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-arrow-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,169},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-btn-prelook.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,928},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-btn-register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-btn-save.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,702},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-choose-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,475},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-detail-date-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-detail-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{47,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,2}}</string>
                <key>sourceSize</key>
                <string>{47,2}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,851},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,169},{831,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{831,53}}</string>
                <key>sourceSize</key>
                <string>{831,53}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,471}}</string>
                <key>sourceSize</key>
                <string>{844,471}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{131,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,168}}</string>
                <key>sourceSize</key>
                <string>{131,168}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,908},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv-progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,908},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,692},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,832},{132,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,26}}</string>
                <key>sourceSize</key>
                <string>{132,26}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,692},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,692},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,901},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,692},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,317},{589,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,110}}</string>
                <key>sourceSize</key>
                <string>{589,110}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{215,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,84}}</string>
                <key>sourceSize</key>
                <string>{215,84}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,657},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,701},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,135},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,475},{184,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,42}}</string>
                <key>sourceSize</key>
                <string>{184,42}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,666},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,701},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,908},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>hall/plist/spread/gui-spread-update-account.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,475},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>hall/plist/spread/gui_vip_image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,951},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>hall/plist/spread/gui_vip_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,851},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-spread.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea782b28cac5b6f914890030a2e2d70$</string>
            <key>textureFileName</key>
            <string>gui-spread.png</string>
        </dict>
    </dict>
</plist>
