<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/gamekind/gamekind-201.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,866},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-202.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,866},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-205.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1050},{260,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,209}}</string>
                <key>sourceSize</key>
                <string>{260,209}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-206.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,788},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-207.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,650},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-208.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,650},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-212.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,526},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-213.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,434},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-215.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,434},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-352.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-361.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,264},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-362.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,218},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-363.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,218},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{260,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,193}}</string>
                <key>sourceSize</key>
                <string>{260,193}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-403.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-404.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-407.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,214}}</string>
                <key>sourceSize</key>
                <string>{260,214}</string>
            </dict>
            <key>hall/plist/gamekind/gamekind-413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{260,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,206}}</string>
                <key>sourceSize</key>
                <string>{260,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-gamekind.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fccf064b13a0daa9c8c2da73d7f84d$</string>
            <key>textureFileName</key>
            <string>gui-gamekind.png</string>
        </dict>
    </dict>
</plist>
