<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/plist/dialog/gui-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,735},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-buttom-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{873,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,168}}</string>
                <key>sourceSize</key>
                <string>{873,168}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-button-cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,456},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-button-confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,456},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,445},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-force-update.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,456},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,294},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-image-woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{394,731}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,731}}</string>
                <key>sourceSize</key>
                <string>{394,731}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-login.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,456},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,682},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-signup.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,735},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,772},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-top-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{821,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,140}}</string>
                <key>sourceSize</key>
                <string>{821,140}</string>
            </dict>
            <key>hall/plist/dialog/gui-dialog-update-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,294},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>hall/plist/dialog/gui-image-get-code.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,735},{120,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>hall/plist/dialog/gui-login-add.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{290,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,286}}</string>
                <key>sourceSize</key>
                <string>{290,286}</string>
            </dict>
            <key>hall/plist/dialog/gui-login-bg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{331,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,452}}</string>
                <key>sourceSize</key>
                <string>{331,452}</string>
            </dict>
            <key>hall/plist/dialog/gui-login-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,682},{325,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,445}}</string>
                <key>sourceSize</key>
                <string>{325,445}</string>
            </dict>
            <key>hall/plist/dialog/gui-login-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,682},{174,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,62}}</string>
                <key>sourceSize</key>
                <string>{174,62}</string>
            </dict>
            <key>hall/plist/dialog/gui-title-verity.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,682},{165,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,60}}</string>
                <key>sourceSize</key>
                <string>{165,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-dialog.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c40be8d15a81c3624ff426bbf2512967$</string>
            <key>textureFileName</key>
            <string>gui-dialog.png</string>
        </dict>
    </dict>
</plist>
