<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/plist/an1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,834},{154,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,50}</string>
			</dict>
			<key>hall/plist/an2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,837},{154,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,50}</string>
			</dict>
			<key>hall/plist/bj0.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,925},{71,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,67}</string>
			</dict>
			<key>hall/plist/bj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,837},{71,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,67}</string>
			</dict>
			<key>hall/plist/daili.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,837},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>hall/plist/hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,0},{837,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{837,118}</string>
			</dict>
			<key>hall/plist/jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{836,546}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{836,546}</string>
			</dict>
			<key>hall/plist/jlsm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,925},{128,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,38}</string>
			</dict>
			<key>hall/plist/jlsm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,733},{101,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,25}</string>
			</dict>
			<key>hall/plist/ljk.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,422},{181,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,43}</string>
			</dict>
			<key>hall/plist/wddl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,887},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,38}</string>
			</dict>
			<key>hall/plist/wddl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,525},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>hall/plist/wdjl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,925},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,38}</string>
			</dict>
			<key>hall/plist/wdjl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,988},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>hall/plist/wdtg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,963},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>hall/plist/wdtg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,628},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>hall/plist/wdwj.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,603},{130,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,39}</string>
			</dict>
			<key>hall/plist/wdwj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,422},{103,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,26}</string>
			</dict>
			<key>hall/plist/wdyj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,887},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>hall/plist/wdyj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,731},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>hall/plist/x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,0},{211,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,53}</string>
			</dict>
			<key>hall/plist/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,211},{211,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>promotor.png</string>
			<key>realTextureFileName</key>
			<string>promotor.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>