<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>allin_qian_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,698},{450,208}}</string>
        <key>offset</key>
        <string>{0,-66}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,132},{450,208}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,454},{448,264}}</string>
        <key>offset</key>
        <string>{1,-38}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,76},{448,264}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,668},{450,208}}</string>
        <key>offset</key>
        <string>{0,-66}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,132},{450,208}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,668},{422,148}}</string>
        <key>offset</key>
        <string>{0,-96}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,192},{422,148}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,1078},{398,132}}</string>
        <key>offset</key>
        <string>{-1,-104}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,208},{398,132}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,904},{418,172}}</string>
        <key>offset</key>
        <string>{-2,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,168},{418,172}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,2},{450,244}}</string>
        <key>offset</key>
        <string>{0,-48}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,96},{450,244}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,336},{346,330}}</string>
        <key>offset</key>
        <string>{3,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,10},{346,330}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,2},{368,322}}</string>
        <key>offset</key>
        <string>{7,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,18},{368,322}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,326},{370,320}}</string>
        <key>offset</key>
        <string>{8,-10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48,20},{370,320}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
      <key>allin_qian_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{358,332}}</string>
        <key>offset</key>
        <string>{3,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,8},{358,332}}</string>
        <key>sourceSize</key>
        <string>{450,340}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>allin_qian.png</string>
      <key>size</key>
      <string>{992,1224}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f33ccf086a1cf6e697c053eeefed26f3:1/1$</string>
      <key>textureFileName</key>
      <string>allin_qian.png</string>
    </dict>
  </dict>
</plist>

