<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>_0001_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,129},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0002_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,129},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0003_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,129},{189,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0004_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{181,125}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0005_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,129},{187,123}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{187,123}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0006_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,2},{183,123}}</string>
        <key>offset</key>
        <string>{-3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{183,123}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0007_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,129},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0008_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,2},{185,123}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{185,123}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0009_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,2},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0010_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,2},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0011_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,2},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0012_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,2},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0013_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1138,129},{189,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0014_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,2},{187,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>_0015_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,129},{187,123}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{187,123}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>frame_fire.png</string>
      <key>size</key>
      <string>{1502,256}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:1c96adddca22e45989cf4d783248b718:1/1$</string>
      <key>textureFileName</key>
      <string>frame_fire.png</string>
    </dict>
  </dict>
</plist>

