<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{62,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>lianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>shandiandianliu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,74},{52,32}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,70},{42,32}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{42,32}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{42,30}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{42,30}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,34},{36,30}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{36,30}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,61},{34,30}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{34,30}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,93},{28,28}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{28,28}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shandiandianliu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,93},{24,24}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{24,24}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>suozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,66}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liansuoshandianwenzidonghua_buyu0.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31455df1a0d180354bc43831deffe516$</string>
            <key>textureFileName</key>
            <string>liansuoshandianwenzidonghua_buyu0.png</string>
        </dict>
    </dict>
</plist>
