<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>game/car/gui/btn_close2.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,962},{100,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,51}</string>
      </dict>
      <key>game/car/gui/car-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,554},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-0-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,554},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-0-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,331},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-0-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1787,266},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,552},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-1-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,574},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-1-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,266},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-1-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1978,484},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,574},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,636},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-2-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1980,396},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-2-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1980,740},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,636},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-3-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,634},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>game/car/gui/car-3-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1981,804},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-3-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1981,868},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>game/car/gui/car-big-bg-light.png</key>
      <dict>
        <key>frame</key>
        <string>{{1787,330},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>game/car/gui/car-history-new1.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,408},{26,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{26,29}</string>
      </dict>
      <key>game/car/gui/car-history-new2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1953,240},{88,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,89}</string>
      </dict>
      <key>game/car/gui/car-min-bg-light.png</key>
      <dict>
        <key>frame</key>
        <string>{{1787,438},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>game/car/gui/chip_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,905},{1059,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{1059,55}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_add.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,214},{48,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_bank.png</key>
      <dict>
        <key>frame</key>
        <string>{{1481,783},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_guize.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,864},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_qingkong.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,658},{140,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{140,123}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_return.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,566},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_shang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1960,653},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_shangzhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,962},{95,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,51}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_xia.png</key>
      <dict>
        <key>frame</key>
        <string>{{1787,102},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_xiazhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,962},{97,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{97,51}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_xutou.png</key>
      <dict>
        <key>frame</key>
        <string>{{1818,658},{140,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{140,123}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_yinhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1787,1},{108,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_yinxiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1689,783},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_yinxiaoguan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,864},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_yinyue.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,408},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_yinyueguan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,406},{206,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{206,79}</string>
      </dict>
      <key>game/car/gui/fqzs_btn_youxiguize1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,487},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>game/car/gui/fqzs_caidandi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,452},{228,346}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,346}</string>
      </dict>
      <key>game/car/gui/fqzs_jinbikuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,962},{178,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{178,35}</string>
      </dict>
      <key>game/car/gui/fqzs_qtwj.png</key>
      <dict>
        <key>frame</key>
        <string>{{1895,395},{83,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,87}</string>
      </dict>
      <key>game/car/gui/fqzs_ytm.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,1},{75,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,79}</string>
      </dict>
      <key>game/car/gui/fqzs_zhuangdi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,962},{178,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{178,51}</string>
      </dict>
      <key>game/car/gui/fqzs_zxz.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,408},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>game/car/gui/gui-count-down.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,849},{69,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-gold-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,962},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-icon-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1960,148},{87,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,90}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-info-line.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1015},{309,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{309,2}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-other-info-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{344,449}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{344,449}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-scroll-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,999},{345,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{345,9}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-scroll-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,408},{84,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,32}</string>
      </dict>
      <key>game/car/gui/gui-niuniu-user-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1877,945},{77,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>game/car/gui/gui-status-awad.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,996},{69,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{69,16}</string>
      </dict>
      <key>game/car/gui/gui-status-bet.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,996},{69,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{69,16}</string>
      </dict>
      <key>game/car/gui/gui-texture-null.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1019},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>game/car/gui/gui-wz-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,489},{188,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{188,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,887},{219,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{219,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,952},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,952},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,887},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,952},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,783},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,487},{197,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{197,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,945},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,341},{199,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,63}</string>
      </dict>
      <key>game/car/gui/gui-wz-ts-bj.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,800},{686,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{686,103}</string>
      </dict>
      <key>game/car/gui/gui-wz-wanj.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,341},{346,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{346,65}</string>
      </dict>
      <key>game/car/gui/gui-wz-xtong.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,782},{345,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{345,65}</string>
      </dict>
      <key>game/car/gui/id.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,782},{242,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{242,108}</string>
      </dict>
      <key>game/car/gui/jianjie_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,962},{103,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{103,28}</string>
      </dict>
      <key>game/car/gui/jianjie_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,962},{123,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,33}</string>
      </dict>
      <key>game/car/gui/page_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,567},{225,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{225,89}</string>
      </dict>
      <key>game/car/gui/page_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,341},{274,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{274,99}</string>
      </dict>
      <key>game/car/gui/recode_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,1},{109,564}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,564}</string>
      </dict>
      <key>game/car/gui/tips_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,962},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>game/car/gui/title_guize.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,945},{87,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,55}</string>
      </dict>
      <key>game/car/gui/wanfa_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,992},{103,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{103,28}</string>
      </dict>
      <key>game/car/gui/wanfa_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,962},{123,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,32}</string>
      </dict>
      <key>game/car/gui/car-logo-01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1980,1},{60,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,80}</string>
      </dict>
      <key>game/car/gui/car-logo-02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,864},{79,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,79}</string>
      </dict>
      <key>game/car/gui/car-logo-03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,783},{81,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{81,79}</string>
      </dict>
      <key>game/car/gui/car-logo-04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1895,484},{81,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{81,80}</string>
      </dict>
      <key>game/car/gui/car-logo-05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,148},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>game/car/gui/car-logo-06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1980,331},{63,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,63}</string>
      </dict>
      <key>game/car/gui/car-logo-07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,83},{65,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,63}</string>
      </dict>
      <key>game/car/gui/car-logo-08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1903,82},{65,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,64}</string>
      </dict>
      <key>game/car/gui/car-number-x10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,849},{71,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,36}</string>
      </dict>
      <key>game/car/gui/car-number-x20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,849},{80,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,36}</string>
      </dict>
      <key>game/car/gui/car-number-x30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,849},{80,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,36}</string>
      </dict>
      <key>game/car/gui/car-number-x40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,849},{80,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,36}</string>
      </dict>
      <key>game/car/gui/car-number-x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,848},{50,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,35}</string>
      </dict>
      <key>game/car/gui/car-space01.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,1},{232,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232,168}</string>
      </dict>
      <key>game/car/gui/car-space02.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,1},{234,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{234,168}</string>
      </dict>
      <key>game/car/gui/car-space03.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,171},{232,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232,168}</string>
      </dict>
      <key>game/car/gui/car-space04.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,452},{236,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,168}</string>
      </dict>
      <key>game/car/gui/car-space05.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,171},{234,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{234,168}</string>
      </dict>
      <key>game/car/gui/car-space06.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,622},{236,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,168}</string>
      </dict>
      <key>game/car/gui/space01-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,442},{232,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232,168}</string>
      </dict>
      <key>game/car/gui/space02-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,442},{234,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{234,168}</string>
      </dict>
      <key>game/car/gui/space03-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,612},{232,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232,168}</string>
      </dict>
      <key>game/car/gui/space04-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,1},{236,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,168}</string>
      </dict>
      <key>game/car/gui/space05-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,612},{234,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{234,168}</string>
      </dict>
      <key>game/car/gui/space06-glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,171},{236,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>car.png</string>
      <key>realTextureFileName</key>
      <string>car.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>2048</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

