<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>feiqinzoushou_x100.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_1.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_2.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_3.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_4.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_5.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_6.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_7.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>56</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_8.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_9.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_10.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_11.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_12.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_13.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_14.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_15.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_100sg_16.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_caidaix.png</key>
			<dict>
				<key>width</key>
				<integer>506</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>506</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_xzi1js.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>266</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>752</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_guangshu.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>223</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_glow2.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_glow3.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiqinzoushou_glow1.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>feiqinzoushou_jinshax1000.png</string>
			<key>realTextureFileName</key>
			<string>feiqinzoushou_jinshax1000.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>