<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/redvsblack/plist/bankertimes.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,204},{79,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,34}</string>
			</dict>
			<key>game/redvsblack/plist/bg-number-red.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1016},{1,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,58}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-blackpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,859},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-blackring.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,493},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-icon-xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,463},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-icon-zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,463},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-applydealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,943},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-applydealer-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,943},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-blackarea-lighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,352},{230,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,166}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,892},{190,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,100}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-downdealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,422},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-downdealer-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,573},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-goldicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,468},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-luckarea-lighter.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,586},{122,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,146}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-road.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,220},{82,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,79}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-xt.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,724},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-xt-disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,2},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-xt-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,153},{147,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,71}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-newicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,859},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-nosingle.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,287},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-poker_backbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2},{139,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,194}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,859},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-redring.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,493},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-rule-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,423},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-rule-rightbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,425},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-rule-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,875},{92,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,50}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-single.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,370},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-bgbottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,343},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-dalubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,340},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-pblack.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,859},{26,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,62}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-pred.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1021},{1,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,58}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-table.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,390},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,614},{157,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,55}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,973},{190,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,31}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,303},{59,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,33}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2},{110,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,33}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-trend-titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,2},{998,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{998,41}</string>
			</dict>
			<key>game/redvsblack/plist/gui-texture-null.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,343},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/redvsblack/plist/poker-frontbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,200},{139,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,194}</string>
			</dict>
			<key>game/redvsblack/plist/gui-button-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,493},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/redvsblack/plist/gui-button-pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,405},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>game/redvsblack/plist/gui-button-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,303},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/redvsblack/plist/gui-menu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{228,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,346}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,114},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-musicoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,736},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-musicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,889},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,859},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,2},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,212},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/redvsblack/plist/gui-userinfo-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,2},{242,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,108}</string>
			</dict>
			<key>game/redvsblack/plist/gui-bottom-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,453},{157,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,56}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-bankicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,390},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>game/redvsblack/plist/gui-btn-qtwj.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,493},{83,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,87}</string>
			</dict>
			<key>game/redvsblack/plist/gui-gold-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,189},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/redvsblack/plist/gui-otherinfo-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,820},{344,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,35}</string>
			</dict>
			<key>game/redvsblack/plist/gui-otherinfo-line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1016},{309,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,2}</string>
			</dict>
			<key>game/redvsblack/plist/gui-user-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,343},{77,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,78}</string>
			</dict>
			<key>game/redvsblack/plist/gui-otherinfo-scroll-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1003},{345,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,9}</string>
			</dict>
			<key>game/redvsblack/plist/gui-otherinfo-scroll-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,116},{84,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-road-pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,220},{82,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,79}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{647,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{647,90}</string>
			</dict>
			<key>game/redvsblack/plist/gui-status-kaijiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,114},{71,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-status-xiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,858},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,32}</string>
			</dict>
			<key>game/redvsblack/plist/gui-status-icon-kaijiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,859},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>game/redvsblack/plist/gui-status-icon-xiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,872},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-historybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,775},{54,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,79}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-blackbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,586},{149,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,142}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-redbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,739},{149,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,142}</string>
			</dict>
			<key>game/redvsblack/plist/gui-redblack-main-vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,304},{108,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>redvsblack.png</string>
			<key>realTextureFileName</key>
			<string>redvsblack.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>