<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xian_1.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_2.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_3.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1004</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_4.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_5.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_6.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_7.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1004</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_8.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1506</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_9.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_10.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangci.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1004</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shanguang.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1262</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>s.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>1564</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>v.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>1785</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guang.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hong.png</key>
			<dict>
				<key>width</key>
				<integer>860</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>860</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lan.png</key>
			<dict>
				<key>width</key>
				<integer>883</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>883</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1732</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mengban02.png</key>
			<dict>
				<key>width</key>
				<integer>333</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>333</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>1732</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>pk_bipai0.png</string>
			<key>realTextureFileName</key>
			<string>pk_bipai0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>