<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiazhu_danshou_1.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_2.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_3.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_4.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_5.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_6.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_7.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_8.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiazhu_danshou_9.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>496</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiazhu_danshou0.png</string>
			<key>realTextureFileName</key>
			<string>xiazhu_danshou0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>