<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/qznn/plist/gui-qznn-btn-return.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,611},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-btn-pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,611},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-user-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2},{134,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,190}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-betx10.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,461},{79,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,37}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-betx15.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,620},{77,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,37}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-betx20.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,375},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-betx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,637},{71,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,37}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-callx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,282},{89,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,40}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-callx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,101},{93,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,40}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-callx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,2},{95,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,40}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-callx0.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,544},{72,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,40}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-tip-finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,198},{80,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,45}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-betx10.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,2},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-betx15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,169},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-betx20.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,252},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-betx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,295},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-callx0.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,701},{162,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-callx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,701},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-callx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,545},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-callx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,257},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-match-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,925},{364,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,64}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-btn-takecard.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,784},{164,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-countbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,637},{55,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,40}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-btn-continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,90},{211,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-btn-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,2},{211,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,79}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-menu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{228,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,264}</string>
			</dict>
			<key>game/qznn/plist/gui-btn-musicoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,270},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/qznn/plist/gui-btn-musicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,173},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/qznn/plist/gui-btn-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,85},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/qznn/plist/gui-btn-soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,354},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/qznn/plist/gui-btn-soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,85},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>game/qznn/plist/gui-qznn-btn-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,463},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,270},{142,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,197}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,2},{200,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,84}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,471},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,546},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,816},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,546},{266,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,105}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,196},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,85},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,269},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,453},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,463},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,537},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,463},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/gui-qz-niu-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,335},{180,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,70}</string>
			</dict>
			<key>game/qznn/plist/tbnn_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,409},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>game/qznn/plist/gui-start-tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,270},{272,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>qznn_plist.png</string>
			<key>realTextureFileName</key>
			<string>qznn_plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>