<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruitV3Main/Btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1403},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>fruitV3Main/Btn_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1204},{141,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,103}}</string>
                <key>sourceSize</key>
                <string>{141,103}</string>
            </dict>
            <key>fruitV3Main/Btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1403},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>fruitV3Main/Btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1318},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>fruitV3Main/Btn_huanzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1318},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>fruitV3Main/Btn_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1309},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>fruitV3Main/Btn_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1099},{141,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,103}}</string>
                <key>sourceSize</key>
                <string>{141,103}</string>
            </dict>
            <key>fruitV3Main/Btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1309},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>fruitV3Main/Btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1399},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>fruitV3Main/Btn_zdtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1099},{222,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,102}}</string>
                <key>sourceSize</key>
                <string>{222,102}</string>
            </dict>
            <key>fruitV3Main/bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1342},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>fruitV3Main/bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1274},{66,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{66,131}</string>
            </dict>
            <key>fruitV3Main/bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1099},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>fruitV3Main/check.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1215},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>fruitV3Main/fruitslots_underbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,158}}</string>
                <key>sourceSize</key>
                <string>{1280,158}</string>
            </dict>
            <key>fruitV3Main/headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{149,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,162}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>fruitV3Main/headmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1215},{119,101}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,101}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>fruitV3Main/jc.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,942},{425,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,155}}</string>
                <key>sourceSize</key>
                <string>{425,155}</string>
            </dict>
            <key>fruitV3Main/jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{938,491}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,491}}</string>
                <key>sourceSize</key>
                <string>{938,501}</string>
            </dict>
            <key>fruitV3Main/text_dzjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1203},{183,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,69}}</string>
                <key>sourceSize</key>
                <string>{183,69}</string>
            </dict>
            <key>fruitV3Main/text_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1342},{108,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,68}}</string>
                <key>sourceSize</key>
                <string>{108,68}</string>
            </dict>
            <key>fruitV3Main/text_zd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1274},{52,29}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{52,29}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>fruitV3Main/text_zd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{58,33}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>fruitV3Main/text_zxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,942},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruitImgV3_1.png</string>
            <key>size</key>
            <string>{655,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96059b3ce04bf1ab9d6dd7af03178fa0:1/1$</string>
            <key>textureFileName</key>
            <string>fruitImgV3_1.png</string>
        </dict>
    </dict>
</plist>
