<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruitV3Lines/x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{784,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,31}}</string>
                <key>sourceSize</key>
                <string>{784,31}</string>
            </dict>
            <key>fruitV3Lines/x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{784,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,31}}</string>
                <key>sourceSize</key>
                <string>{784,31}</string>
            </dict>
            <key>fruitV3Lines/x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{784,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,31}}</string>
                <key>sourceSize</key>
                <string>{784,31}</string>
            </dict>
            <key>fruitV3Lines/x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{780,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,302}}</string>
                <key>sourceSize</key>
                <string>{780,302}</string>
            </dict>
            <key>fruitV3Lines/x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{780,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,302}}</string>
                <key>sourceSize</key>
                <string>{780,302}</string>
            </dict>
            <key>fruitV3Lines/x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{784,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,192}}</string>
                <key>sourceSize</key>
                <string>{784,192}</string>
            </dict>
            <key>fruitV3Lines/x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{784,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,192}}</string>
                <key>sourceSize</key>
                <string>{784,192}</string>
            </dict>
            <key>fruitV3Lines/x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{784,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,256}}</string>
                <key>sourceSize</key>
                <string>{784,256}</string>
            </dict>
            <key>fruitV3Lines/x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{784,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,256}}</string>
                <key>sourceSize</key>
                <string>{784,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruitImgV3_3.png</string>
            <key>size</key>
            <string>{788,1613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09bf609e321b2612733f5d993c5ceee6:1/1$</string>
            <key>textureFileName</key>
            <string>fruitImgV3_3.png</string>
        </dict>
    </dict>
</plist>
