<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruitV3Set/btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>fruitV3Set/off.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,372},{152,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,51}}</string>
                <key>sourceSize</key>
                <string>{152,51}</string>
            </dict>
            <key>fruitV3Set/on.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,372},{152,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,51}}</string>
                <key>sourceSize</key>
                <string>{152,51}</string>
            </dict>
            <key>fruitV3Set/set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,368}}</string>
                <key>sourceSize</key>
                <string>{512,368}</string>
            </dict>
            <key>fruitV3Set/text_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,372},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>fruitV3Set/text_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,425},{162,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,41}}</string>
                <key>sourceSize</key>
                <string>{162,41}</string>
            </dict>
            <key>fruitV3Set/text_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,425},{156,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,46}}</string>
                <key>sourceSize</key>
                <string>{156,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruitImgV3_2.png</string>
            <key>size</key>
            <string>{516,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba9a821de3190d1dc9defa1e1d2cd65:1/1$</string>
            <key>textureFileName</key>
            <string>fruitImgV3_2.png</string>
        </dict>
    </dict>
</plist>
