<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruitV3Crazy/Btn_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,369},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>fruitV3Crazy/d1g.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,464},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>fruitV3Crazy/d2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,464},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>fruitV3Crazy/d3g.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,445},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>fruitV3Crazy/d4g.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,445},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>fruitV3Crazy/nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{131,135}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{131,135}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>fruitV3Crazy/pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,312},{131,131}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>fruitV3Crazy/pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,333},{131,129}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{131,129}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>fruitV3Crazy/text_dqf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>fruitV3Crazy/text_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{613,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,89}}</string>
                <key>sourceSize</key>
                <string>{613,89}</string>
            </dict>
            <key>fruitV3Crazy/text_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,200},{167,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,60}}</string>
                <key>sourceSize</key>
                <string>{167,60}</string>
            </dict>
            <key>fruitV3Crazy/text_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{401,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,110}}</string>
                <key>sourceSize</key>
                <string>{401,110}</string>
            </dict>
            <key>fruitV3Crazy/xyx_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,105}}</string>
                <key>sourceSize</key>
                <string>{631,105}</string>
            </dict>
            <key>fruitV3Crazy/yt.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,200},{131,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{131,143}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>fruitV3Crazy/zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,312},{131,131}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruitImgV3_5.png</string>
            <key>size</key>
            <string>{635,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1e70baee0c95f7de128f4cb3d651b3e:1/1$</string>
            <key>textureFileName</key>
            <string>fruitImgV3_5.png</string>
        </dict>
    </dict>
</plist>
