<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game5/btnStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,260},{203,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,67}</string>
			</dict>
			<key>game5/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,405},{98,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,39}</string>
			</dict>
			<key>game5/timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,127},{120,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,90}</string>
			</dict>
			<key>game5/timerRun.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,135},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>game5/btnGiveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,233},{99,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,103}</string>
			</dict>
			<key>game5/balance/btitle_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{521,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,94}</string>
			</dict>
			<key>game5/xinxi_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,100},{180,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,102}</string>
			</dict>
			<key>game5/btn_10fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,2},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btn_1fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,120},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btn_4fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,298},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btn_7fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,127},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btnCall.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,298},{128,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,78}</string>
			</dict>
			<key>game5/btnHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,338},{132,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,67}</string>
			</dict>
			<key>game5/btnNocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,405},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game5/btnShowcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,380},{132,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,67}</string>
			</dict>
			<key>game5/call.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,451},{75,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,43}</string>
			</dict>
			<key>game5/img_nnjn_txdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{129,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,173}</string>
			</dict>
			<key>game5/img_nnjn_txdi_xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,2},{266,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,121}</string>
			</dict>
			<key>game5/btn_2fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,298},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btn_3fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,474},{114,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,36}</string>
			</dict>
			<key>game5/btn_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,405},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game5/btn_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,416},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game5/btn_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,336},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game5/btn_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,245},{130,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,65}</string>
			</dict>
			<key>game5/Play_Orientation.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,186},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>game5/icon_x0.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,451},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,42}</string>
			</dict>
			<key>game5/niu_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,341},{319,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,60}</string>
			</dict>
			<key>game5/tishitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,238},{286,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,56}</string>
			</dict>
			<key>game5/btn_sit.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,100},{224,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,78}</string>
			</dict>
			<key>game5/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,182},{214,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,74}</string>
			</dict>
			<key>game5/btnInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,127},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>game5/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,100},{237,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game5.png</string>
			<key>realTextureFileName</key>
			<string>game5.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>