<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,326},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,164},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,488},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,398},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,266},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gold_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,134},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gold_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_full_eff0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f4506a04ee3f0d42e1b948217c0d96e$</string>
            <key>textureFileName</key>
            <string>gold_full_eff0.png</string>
        </dict>
    </dict>
</plist>
