<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,400},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,478},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,433},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,445},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>poker-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,182},{130,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,171}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>poker-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{132,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,173}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>poker-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>value-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,402},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,402},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,355},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,449},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,355},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,400},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,402},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,355},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,404},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,357},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,451},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,404},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,357},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,451},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,404},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,357},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,158}}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,158}}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,449},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,355},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,451},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,404},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,451},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,357},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,451},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qznn-poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a984aedd1c942889b9d089f6bf16f5$</string>
            <key>textureFileName</key>
            <string>qznn-poker.png</string>
        </dict>
    </dict>
</plist>
