<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bglu_gunturning_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,302},{23,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,113}}</string>
                <key>sourceSize</key>
                <string>{23,113}</string>
            </dict>
            <key>fish-icon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,456},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>fish-info-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
            <key>fish-info-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{207,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,32}}</string>
                <key>sourceSize</key>
                <string>{207,32}</string>
            </dict>
            <key>fish-lock-dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,391},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>gui-fish-add-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,394},{60,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>gui-fish-array-notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,71}}</string>
                <key>sourceSize</key>
                <string>{550,71}</string>
            </dict>
            <key>gui-fish-btn-auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,381},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>gui-fish-btn-cancel-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,294},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>gui-fish-btn-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,277},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>gui-fish-btn-mul.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,173},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>gui-fish-bullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,328},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>gui-fish-bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,193},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>gui-fish-bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,263},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>gui-fish-bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,260},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>gui-fish-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,75},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>gui-fish-fh-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{125,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,41}}</string>
                <key>sourceSize</key>
                <string>{125,41}</string>
            </dict>
            <key>gui-fish-jsbs-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{323,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,184}}</string>
                <key>sourceSize</key>
                <string>{323,184}</string>
            </dict>
            <key>gui-fish-jsdy-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{229,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,126}}</string>
                <key>sourceSize</key>
                <string>{229,126}</string>
            </dict>
            <key>gui-fish-laba-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,275},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>gui-fish-lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,456},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>gui-fish-me-flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,188},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>gui-fish-minus-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,332},{60,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>gui-fish-net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,75},{221,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,217}}</string>
                <key>sourceSize</key>
                <string>{221,217}</string>
            </dict>
            <key>gui-fish-paodizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{159,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,80}}</string>
                <key>sourceSize</key>
                <string>{159,80}</string>
            </dict>
            <key>skill-lock-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,602},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-103.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,602},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,854},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,731},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-112.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,786},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,663},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,608},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,557},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,557},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,479},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,540},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,485},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,434},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,434},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,356},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,417},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,311},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,311},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,294},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,233},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,188},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,188},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill-lock-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-fish.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fd3c09fe59c94168355a9e46acb453:1/1$</string>
            <key>textureFileName</key>
            <string>gui-fish.png</string>
        </dict>
    </dict>
</plist>
