<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ring.png</key>
			<dict>
				<key>width</key>
				<integer>418</integer>
				<key>height</key>
				<integer>418</integer>
				<key>originalWidth</key>
				<integer>433</integer>
				<key>originalHeight</key>
				<integer>433</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>g.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_e25_b0.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>39</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>l_e25_b2.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>l_e25_b4.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>l_e25_b6.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>l_e25_b8.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>l_e25_b10.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>l_e25_b12.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>fish24_02.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>fish24_02-02.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>488</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish24_02-03.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>fish24_02-04.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish24_02-05.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>fish24_02-06.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>s.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bomb0.png</string>
			<key>realTextureFileName</key>
			<string>bomb0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>