<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuihuRoom/logo.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,93},{599,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{599,102}}</string>
        <key>sourceSize</key>
        <string>{599,102}</string>
      </dict>
      <key>shuihuRoom/xc_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{619,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{619,89}}</string>
        <key>sourceSize</key>
        <string>{619,89}</string>
      </dict>
      <key>shuihuRoom/xc_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2},{208,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,85}}</string>
        <key>sourceSize</key>
        <string>{208,85}</string>
      </dict>
      <key>shuihuRoom/xc_btn_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,2},{143,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,167}}</string>
        <key>sourceSize</key>
        <string>{143,167}</string>
      </dict>
      <key>shuihuRoom/xc_btn_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,280},{62,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,54}}</string>
        <key>sourceSize</key>
        <string>{62,54}</string>
      </dict>
      <key>shuihuRoom/xc_btn_title1.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,312},{167,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,48}}</string>
        <key>sourceSize</key>
        <string>{167,48}</string>
      </dict>
      <key>shuihuRoom/xc_btn_title2.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,262},{167,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,48}}</string>
        <key>sourceSize</key>
        <string>{167,48}</string>
      </dict>
      <key>shuihuRoom/xc_btn_title3.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,2},{167,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,48}}</string>
        <key>sourceSize</key>
        <string>{167,48}</string>
      </dict>
      <key>shuihuRoom/xc_btn_title4.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,212},{167,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,48}}</string>
        <key>sourceSize</key>
        <string>{167,48}</string>
      </dict>
      <key>shuihuRoom/xc_dzsx.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,336},{102,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,22}}</string>
        <key>sourceSize</key>
        <string>{102,22}</string>
      </dict>
      <key>shuihuRoom/xc_fanhui.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,197},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>shuihuRoom/xc_icon1.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{332,197},{163,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,163}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>shuihuRoom/xc_icon2.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{167,197},{163,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,163}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>shuihuRoom/xc_icon3.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{2,197},{163,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,163}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>shuihuRoom/xc_icon4.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{603,171},{163,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,163}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>shuihuRoom/xc_kuaisukaishi.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,2},{190,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,50}}</string>
        <key>sourceSize</key>
        <string>{190,50}</string>
      </dict>
      <key>shuihuRoom/xc_zxxd.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,197},{93,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,21}}</string>
        <key>sourceSize</key>
        <string>{93,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuihuCCSImg4.png</string>
      <key>size</key>
      <string>{957,362}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:4601abc2393a7c799bcd1880ae6880c8:1/1$</string>
      <key>textureFileName</key>
      <string>shuihuCCSImg4.png</string>
    </dict>
  </dict>
</plist>

