<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuihuUi/caidan_bangzhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,659},{191,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,60}}</string>
        <key>sourceSize</key>
        <string>{191,60}</string>
      </dict>
      <key>shuihuUi/caidan_diban.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,852},{237,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,256}}</string>
        <key>sourceSize</key>
        <string>{237,256}</string>
      </dict>
      <key>shuihuUi/caidan_fanhui.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,622},{191,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,60}}</string>
        <key>sourceSize</key>
        <string>{191,60}</string>
      </dict>
      <key>shuihuUi/caidan_shezhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,560},{194,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,60}}</string>
        <key>sourceSize</key>
        <string>{194,60}</string>
      </dict>
      <key>shuihuUi/shz_cajinchi_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,278},{45,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,37}}</string>
        <key>sourceSize</key>
        <string>{45,37}</string>
      </dict>
      <key>shuihuUi/shz_cajinchi_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,793},{23,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,30}}</string>
        <key>sourceSize</key>
        <string>{23,30}</string>
      </dict>
      <key>shuihuUi/shz_goumaipng.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,229},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>shuihuUi/shz_jcje.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1540},{120,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,22}}</string>
        <key>sourceSize</key>
        <string>{120,22}</string>
      </dict>
      <key>shuihuUi/shz_vip.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,405},{37,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{37,22}}</string>
        <key>sourceSize</key>
        <string>{37,24}</string>
      </dict>
      <key>shuihuUi/shz_vip1.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,523},{10,22}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{10,22}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>shuihuUi/shz_vip2.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,928},{14,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>shuihuUi/shz_vip3.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,878},{14,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,24}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>shuihuUi/shz_vip4.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,904},{14,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>shuihuUi/shz_vip5.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,852},{14,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,24}}</string>
        <key>sourceSize</key>
        <string>{14,24}</string>
      </dict>
      <key>shuihuUi/zhuye_bibei.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,452},{154,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,64}}</string>
        <key>sourceSize</key>
        <string>{154,64}</string>
      </dict>
      <key>shuihuUi/zhuye_bibei01.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,1444},{51,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,21}}</string>
        <key>sourceSize</key>
        <string>{51,21}</string>
      </dict>
      <key>shuihuUi/zhuye_bibei2.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,452},{152,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{152,64}}</string>
        <key>sourceSize</key>
        <string>{154,64}</string>
      </dict>
      <key>shuihuUi/zhuye_btnDefen.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1331},{150,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,111}}</string>
        <key>sourceSize</key>
        <string>{150,111}</string>
      </dict>
      <key>shuihuUi/zhuye_caidan.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,1110},{80,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,87}}</string>
        <key>sourceSize</key>
        <string>{80,87}</string>
      </dict>
      <key>shuihuUi/zhuye_defen.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,317},{86,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,40}}</string>
        <key>sourceSize</key>
        <string>{86,40}</string>
      </dict>
      <key>shuihuUi/zhuye_fenshudiban.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,452},{240,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,63}}</string>
        <key>sourceSize</key>
        <string>{240,63}</string>
      </dict>
      <key>shuihuUi/zhuye_gu.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,1199},{107,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,79}}</string>
        <key>sourceSize</key>
        <string>{107,79}</string>
      </dict>
      <key>shuihuUi/zhuye_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,1308},{101,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>shuihuUi/zhuye_headBox.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1564},{107,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>shuihuUi/zhuye_jia.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,793},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>shuihuUi/zhuye_jia01.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,605},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>shuihuUi/zhuye_jiajiankuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,2},{225,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{225,47}}</string>
        <key>sourceSize</key>
        <string>{225,47}</string>
      </dict>
      <key>shuihuUi/zhuye_jian.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,506},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>shuihuUi/zhuye_jian01.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,452},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>shuihuUi/zhuye_jiasu.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,684},{78,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>shuihuUi/zhuye_jiasu1.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,739},{74,24}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>shuihuUi/zhuye_kaishi.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1218},{150,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,111}}</string>
        <key>sourceSize</key>
        <string>{150,111}</string>
      </dict>
      <key>shuihuUi/zhuye_kaishi0.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,684},{150,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,111}}</string>
        <key>sourceSize</key>
        <string>{150,111}</string>
      </dict>
      <key>shuihuUi/zhuye_kaishi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,429},{92,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,36}}</string>
        <key>sourceSize</key>
        <string>{92,36}</string>
      </dict>
      <key>shuihuUi/zhuye_kuangjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,523},{1208,590}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1208,590}}</string>
        <key>sourceSize</key>
        <string>{1208,590}</string>
      </dict>
      <key>shuihuUi/zhuye_muban.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,452},{1279,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1279,141}}</string>
        <key>sourceSize</key>
        <string>{1279,141}</string>
      </dict>
      <key>shuihuUi/zhuye_qizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,452},{153,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,69}}</string>
        <key>sourceSize</key>
        <string>{153,69}</string>
      </dict>
      <key>shuihuUi/zhuye_shoudong.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,1539},{126,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>shuihuUi/zhuye_shoudong1.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,452},{69,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,30}}</string>
        <key>sourceSize</key>
        <string>{69,30}</string>
      </dict>
      <key>shuihuUi/zhuye_yafen.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,765},{72,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,26}}</string>
        <key>sourceSize</key>
        <string>{72,26}</string>
      </dict>
      <key>shuihuUi/zhuye_yaxian.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,517},{72,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,26}}</string>
        <key>sourceSize</key>
        <string>{72,26}</string>
      </dict>
      <key>shuihuUi/zhuye_yingfen.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,710},{74,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,27}}</string>
        <key>sourceSize</key>
        <string>{74,27}</string>
      </dict>
      <key>shuihuUi/zhuye_zidong.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1444},{126,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>shuihuUi/zhuye_zidong0.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,1411},{126,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>shuihuUi/zhuye_zidong1.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,517},{71,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,32}}</string>
        <key>sourceSize</key>
        <string>{71,32}</string>
      </dict>
      <key>shuihuUi/zhuye_zongfen.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,523},{80,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,34}}</string>
        <key>sourceSize</key>
        <string>{80,34}</string>
      </dict>
      <key>shuihuUi/zhuye_zongyafen.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1673},{104,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,27}}</string>
        <key>sourceSize</key>
        <string>{104,27}</string>
      </dict>
      <key>xiaomaliUi/chuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1110},{168,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,106}}</string>
        <key>sourceSize</key>
        <string>{168,106}</string>
      </dict>
      <key>xiaomaliUi/zhongjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{940,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{940,448}}</string>
        <key>sourceSize</key>
        <string>{940,448}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuihuCCSImg3.png</string>
      <key>size</key>
      <string>{993,1733}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:470ec19056cf8b546093263162718146:1/1$</string>
      <key>textureFileName</key>
      <string>shuihuCCSImg3.png</string>
    </dict>
  </dict>
</plist>

