<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuihuRoom/dadaochang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,364},{207,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,258}}</string>
        <key>sourceSize</key>
        <string>{207,258}</string>
      </dict>
      <key>shuihuRoom/dadaochang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,115},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
      <key>shuihuRoom/fanhuidating.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{68,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>shuihuRoom/futouchang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,115},{208,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,230}}</string>
        <key>sourceSize</key>
        <string>{208,230}</string>
      </dict>
      <key>shuihuRoom/futouchang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,364},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
      <key>shuihuRoom/kuaisukaishi.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,115},{160,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>shuihuRoom/linchongchang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,624},{302,295}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{302,295}}</string>
        <key>sourceSize</key>
        <string>{302,297}</string>
      </dict>
      <key>shuihuRoom/linchongchang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,115},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
      <key>shuihuRoom/luzhishenchang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,364},{242,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,258}}</string>
        <key>sourceSize</key>
        <string>{242,258}</string>
      </dict>
      <key>shuihuRoom/luzhishenchang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,115},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
      <key>shuihuRoom/shangxianmuban.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,2},{211,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,111}}</string>
        <key>sourceSize</key>
        <string>{211,111}</string>
      </dict>
      <key>shuihuRoom/songjiangchang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,624},{281,315}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{281,315}}</string>
        <key>sourceSize</key>
        <string>{281,315}</string>
      </dict>
      <key>shuihuRoom/songjiangchang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,115},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
      <key>shuihuRoom/touxiang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2},{103,102}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{103,102}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>shuihuRoom/touxiang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,2},{86,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>shuihuRoom/touxiang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,2},{350,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{350,98}}</string>
        <key>sourceSize</key>
        <string>{350,98}</string>
      </dict>
      <key>shuihuRoom/yinqiangchang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,364},{244,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,254}}</string>
        <key>sourceSize</key>
        <string>{244,254}</string>
      </dict>
      <key>shuihuRoom/yinqiangchang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,115},{85,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,247}}</string>
        <key>sourceSize</key>
        <string>{85,247}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuihuCCSImg1.png</string>
      <key>size</key>
      <string>{830,941}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:27b2227e40e2b6469a641c4073856962:1/1$</string>
      <key>textureFileName</key>
      <string>shuihuCCSImg1.png</string>
    </dict>
  </dict>
</plist>

