<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuihuDrum/0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{108,128}}</string>
        <key>offset</key>
        <string>{7,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{108,128}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,2},{112,124}}</string>
        <key>offset</key>
        <string>{8,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,18},{112,124}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{122,126}}</string>
        <key>offset</key>
        <string>{13,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,16},{122,126}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,2},{124,126}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,16},{124,126}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,2},{100,126}}</string>
        <key>offset</key>
        <string>{-24,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,16},{100,126}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/5.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,2},{76,132}}</string>
        <key>offset</key>
        <string>{-13,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{76,132}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/6.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,2},{86,136}}</string>
        <key>offset</key>
        <string>{-18,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,6},{86,136}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/7.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,2},{72,138}}</string>
        <key>offset</key>
        <string>{-11,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,4},{72,138}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/8.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,2},{96,142}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,0},{96,142}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>shuihuDrum/drum.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,2},{73,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,126}}</string>
        <key>sourceSize</key>
        <string>{73,126}</string>
      </dict>
      <key>shuihuFlagStand/0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,146},{160,211}}</string>
        <key>offset</key>
        <string>{50,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,2},{160,211}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,146},{160,213}}</string>
        <key>offset</key>
        <string>{50,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,0},{160,213}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/2.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,146},{160,207}}</string>
        <key>offset</key>
        <string>{50,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,6},{160,207}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,146},{160,207}}</string>
        <key>offset</key>
        <string>{50,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,6},{160,207}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,146},{160,207}}</string>
        <key>offset</key>
        <string>{50,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,6},{160,207}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/5.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,146},{160,207}}</string>
        <key>offset</key>
        <string>{50,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,6},{160,207}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,361},{160,207}}</string>
        <key>offset</key>
        <string>{50,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,6},{160,207}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagStand/7.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,361},{160,209}}</string>
        <key>offset</key>
        <string>{50,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,4},{160,209}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/0.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,361},{196,153}}</string>
        <key>offset</key>
        <string>{70,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{141,60},{196,153}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,361},{176,149}}</string>
        <key>offset</key>
        <string>{66,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{147,64},{176,149}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/2.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,361},{202,153}}</string>
        <key>offset</key>
        <string>{68,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{136,60},{202,153}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,572},{138,171}}</string>
        <key>offset</key>
        <string>{1,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{101,42},{138,171}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,572},{184,147}}</string>
        <key>offset</key>
        <string>{-52,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,66},{184,147}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/5.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,572},{210,147}}</string>
        <key>offset</key>
        <string>{-58,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,66},{210,147}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/6.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,572},{208,149}}</string>
        <key>offset</key>
        <string>{-65,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,64},{208,149}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/7.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,572},{166,177}}</string>
        <key>offset</key>
        <string>{-56,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,36},{166,177}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
      <key>shuihuFlagWave/8.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,751},{216,171}}</string>
        <key>offset</key>
        <string>{54,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115,42},{216,171}}</string>
        <key>sourceSize</key>
        <string>{338,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuihuCommon3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:507d8302c4b60aed056ea65dd4d2ede8:1/1$</string>
      <key>textureFileName</key>
      <string>shuihuCommon3.png</string>
    </dict>
  </dict>
</plist>

