<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slot_jinbi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,942},{163,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,99}}</string>
        <key>sourceSize</key>
        <string>{163,99}</string>
      </dict>
      <key>slot_jinbi10.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,173},{169,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,155}}</string>
        <key>sourceSize</key>
        <string>{169,155}</string>
      </dict>
      <key>slot_jinbi11.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,686},{165,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,137}}</string>
        <key>sourceSize</key>
        <string>{165,137}</string>
      </dict>
      <key>slot_jinbi12.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,825},{163,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,115}}</string>
        <key>sourceSize</key>
        <string>{163,115}</string>
      </dict>
      <key>slot_jinbi13.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,1049},{163,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,97}}</string>
        <key>sourceSize</key>
        <string>{163,97}</string>
      </dict>
      <key>slot_jinbi14.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,1043},{163,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,97}}</string>
        <key>sourceSize</key>
        <string>{163,97}</string>
      </dict>
      <key>slot_jinbi15.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,934},{165,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,113}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>slot_jinbi16.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,680},{167,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,135}}</string>
        <key>sourceSize</key>
        <string>{167,135}</string>
      </dict>
      <key>slot_jinbi17.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,515},{169,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,153}}</string>
        <key>sourceSize</key>
        <string>{169,153}</string>
      </dict>
      <key>slot_jinbi18.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,513},{169,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,165}}</string>
        <key>sourceSize</key>
        <string>{169,165}</string>
      </dict>
      <key>slot_jinbi19.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,173},{169,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,169}}</string>
        <key>sourceSize</key>
        <string>{169,169}</string>
      </dict>
      <key>slot_jinbi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1063},{163,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,95}}</string>
        <key>sourceSize</key>
        <string>{163,95}</string>
      </dict>
      <key>slot_jinbi20.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,173},{169,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,169}}</string>
        <key>sourceSize</key>
        <string>{169,169}</string>
      </dict>
      <key>slot_jinbi21.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,344},{169,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,167}}</string>
        <key>sourceSize</key>
        <string>{169,167}</string>
      </dict>
      <key>slot_jinbi22.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,2},{169,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,155}}</string>
        <key>sourceSize</key>
        <string>{169,155}</string>
      </dict>
      <key>slot_jinbi23.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,678},{165,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,137}}</string>
        <key>sourceSize</key>
        <string>{165,137}</string>
      </dict>
      <key>slot_jinbi24.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,817},{165,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,115}}</string>
        <key>sourceSize</key>
        <string>{165,115}</string>
      </dict>
      <key>slot_jinbi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,952},{165,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,109}}</string>
        <key>sourceSize</key>
        <string>{165,109}</string>
      </dict>
      <key>slot_jinbi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,817},{167,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,133}}</string>
        <key>sourceSize</key>
        <string>{167,133}</string>
      </dict>
      <key>slot_jinbi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,344},{169,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,153}}</string>
        <key>sourceSize</key>
        <string>{169,153}</string>
      </dict>
      <key>slot_jinbi6.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,511},{169,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,165}}</string>
        <key>sourceSize</key>
        <string>{169,165}</string>
      </dict>
      <key>slot_jinbi7.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,2},{169,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,169}}</string>
        <key>sourceSize</key>
        <string>{169,169}</string>
      </dict>
      <key>slot_jinbi8.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{169,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,169}}</string>
        <key>sourceSize</key>
        <string>{169,169}</string>
      </dict>
      <key>slot_jinbi9.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,344},{169,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,165}}</string>
        <key>sourceSize</key>
        <string>{169,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shz_coin.png</string>
      <key>size</key>
      <string>{508,1160}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:02ab7a07faa54df314c2838c05b99dfc:1/1$</string>
      <key>textureFileName</key>
      <string>shz_coin.png</string>
    </dict>
  </dict>
</plist>

