<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,125},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,92},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>color-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,141},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>poker-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{123,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{123,175}</string>
            </dict>
            <key>poker-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{123,175}</string>
            </dict>
            <key>poker-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{121,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{123,175}</string>
            </dict>
            <key>value-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,49},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,269},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-11-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,222},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,47},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-12-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,269},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-13-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,222},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,175},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,450},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,403},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,356},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,450},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,403},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,356},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,450},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,335},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,175},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>value-6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,174},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,96},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,403},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,356},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,450},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,382},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>value-9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,335},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>gui-poker-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc84651a20aa3ba48d6795f24d2fa950$</string>
            <key>textureFileName</key>
            <string>gui-poker-1.png</string>
        </dict>
    </dict>
</plist>
