<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/twoniuniu/poker/tniuniu-poker-color-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,477},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-color-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,477},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-color-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,477},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-color-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,477},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,3},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-1-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,373},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-10-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,425},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-10-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,373},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,425},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-11-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,373},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-11-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,425},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-12-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,373},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-12-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,425},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-13-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,187},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-13-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,239},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-2-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,291},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,343},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-3-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,395},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,447},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-4-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,187},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,239},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-5-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,291},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,343},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-6-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,395},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,447},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-7-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,187},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,239},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-8-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,291},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,343},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-9-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,395},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-value-9-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,447},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{140,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>
			<key>game/twoniuniu/poker/tniuniu-poker-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,188},{140,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tniuniu-poker.png</string>
			<key>realTextureFileName</key>
			<string>tniuniu-poker.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>