<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gold-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,714},{179,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,35}}</string>
        <key>sourceSize</key>
        <string>{179,35}</string>
      </dict>
      <key>gui-baccarat-blink-ping.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,50},{442,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{442,183}}</string>
        <key>sourceSize</key>
        <string>{442,183}</string>
      </dict>
      <key>gui-baccarat-blink-tping.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,175},{196,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,153}}</string>
        <key>sourceSize</key>
        <string>{196,153}</string>
      </dict>
      <key>gui-baccarat-blink-xian.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,50},{449,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{449,304}}</string>
        <key>sourceSize</key>
        <string>{449,304}</string>
      </dict>
      <key>gui-baccarat-blink-xiandui.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,392},{421,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{421,148}}</string>
        <key>sourceSize</key>
        <string>{421,148}</string>
      </dict>
      <key>gui-baccarat-blink-xiantw.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,138},{345,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{345,156}}</string>
        <key>sourceSize</key>
        <string>{345,156}</string>
      </dict>
      <key>gui-baccarat-blink-zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,356},{448,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{448,304}}</string>
        <key>sourceSize</key>
        <string>{448,304}</string>
      </dict>
      <key>gui-baccarat-blink-zhuangdui.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,542},{420,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{420,148}}</string>
        <key>sourceSize</key>
        <string>{420,148}</string>
      </dict>
      <key>gui-baccarat-blink-zhuangtw.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,17},{346,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{346,156}}</string>
        <key>sourceSize</key>
        <string>{346,156}</string>
      </dict>
      <key>gui-baccarat-bottom-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,643},{180,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,59}}</string>
        <key>sourceSize</key>
        <string>{180,59}</string>
      </dict>
      <key>gui-baccarat-bottom-top.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,17},{550,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{550,115}}</string>
        <key>sourceSize</key>
        <string>{550,115}</string>
      </dict>
      <key>gui-baccarat-btn-close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,553},{100,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,51}}</string>
        <key>sourceSize</key>
        <string>{100,51}</string>
      </dict>
      <key>gui-baccarat-button-exit.png</key>
      <dict>
        <key>frame</key>
        <string>{{1958,508},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>gui-baccarat-button-pop.png</key>
      <dict>
        <key>frame</key>
        <string>{{1938,421},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>gui-baccarat-button-push.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,561},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>gui-baccarat-button-road.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,432},{83,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>gui-baccarat-downdealer.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,2},{156,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,65}}</string>
        <key>sourceSize</key>
        <string>{156,65}</string>
      </dict>
      <key>gui-baccarat-fapaiqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,259},{92,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,84}}</string>
        <key>sourceSize</key>
        <string>{92,84}</string>
      </dict>
      <key>gui-baccarat-huanzhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,440},{222,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,65}}</string>
        <key>sourceSize</key>
        <string>{222,65}</string>
      </dict>
      <key>gui-baccarat-mainroad-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,235},{440,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{440,155}}</string>
        <key>sourceSize</key>
        <string>{440,155}</string>
      </dict>
      <key>gui-baccarat-mainroad-dalu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,606},{76,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,40}}</string>
        <key>sourceSize</key>
        <string>{76,40}</string>
      </dict>
      <key>gui-baccarat-mainroad-ping.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,662},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>gui-baccarat-mainroad-xian.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,392},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>gui-baccarat-mainroad-zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,519},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>gui-baccarat-mainroad-zhulu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1958,595},{76,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,41}}</string>
        <key>sourceSize</key>
        <string>{76,41}</string>
      </dict>
      <key>gui-baccarat-road-border.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,692},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>gui-baccarat-road-cutline.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,134},{455,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{455,2}}</string>
        <key>sourceSize</key>
        <string>{455,2}</string>
      </dict>
      <key>gui-baccarat-road-gezi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,574},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>gui-baccarat-road-gezi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,717},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>gui-baccarat-road-gezi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1834,151},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>gui-baccarat-road-gezi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1582,726},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>gui-baccarat-road-greencircle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,205},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-greenclash.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,302},{15,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,22}}</string>
        <key>sourceSize</key>
        <string>{15,22}</string>
      </dict>
      <key>gui-baccarat-road-greenicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1737,704},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-middleline.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,2},{937,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{937,13}}</string>
        <key>sourceSize</key>
        <string>{937,13}</string>
      </dict>
      <key>gui-baccarat-road-ping.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,50},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>gui-baccarat-road-pings.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,178},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-redcircle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,603},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-redclash.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,278},{15,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,22}}</string>
        <key>sourceSize</key>
        <string>{15,22}</string>
      </dict>
      <key>gui-baccarat-road-redicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1582,699},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-tip-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1301,717},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,24}}</string>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>gui-baccarat-road-title.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,692},{84,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,57}}</string>
        <key>sourceSize</key>
        <string>{84,57}</string>
      </dict>
      <key>gui-baccarat-road-title1.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,692},{110,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,57}}</string>
        <key>sourceSize</key>
        <string>{110,57}</string>
      </dict>
      <key>gui-baccarat-road-title2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1135,376},{103,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,54}}</string>
        <key>sourceSize</key>
        <string>{103,54}</string>
      </dict>
      <key>gui-baccarat-road-title3.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,714},{121,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,30}}</string>
        <key>sourceSize</key>
        <string>{121,30}</string>
      </dict>
      <key>gui-baccarat-road-title4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1967,681},{65,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,34}}</string>
        <key>sourceSize</key>
        <string>{65,34}</string>
      </dict>
      <key>gui-baccarat-road-title5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,656},{102,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,37}}</string>
        <key>sourceSize</key>
        <string>{102,37}</string>
      </dict>
      <key>gui-baccarat-road-top.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{930,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{930,46}}</string>
        <key>sourceSize</key>
        <string>{930,46}</string>
      </dict>
      <key>gui-baccarat-road-xian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,432},{27,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,29}}</string>
        <key>sourceSize</key>
        <string>{27,29}</string>
      </dict>
      <key>gui-baccarat-road-xians.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,86},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-road-zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1834,17},{29,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,29}}</string>
        <key>sourceSize</key>
        <string>{29,29}</string>
      </dict>
      <key>gui-baccarat-road-zhuangs.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,151},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>gui-baccarat-timerbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,151},{98,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>gui-baccarat-updealer.png</key>
      <dict>
        <key>frame</key>
        <string>{{1815,648},{150,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,63}}</string>
        <key>sourceSize</key>
        <string>{150,63}</string>
      </dict>
      <key>gui-baccarat-userinfo-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,330},{213,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,108}}</string>
        <key>sourceSize</key>
        <string>{213,108}</string>
      </dict>
      <key>gui-baccarat-xutou-hui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,175},{223,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{223,101}}</string>
        <key>sourceSize</key>
        <string>{223,101}</string>
      </dict>
      <key>gui-baccarat-xutou.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,430},{223,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{223,101}}</string>
        <key>sourceSize</key>
        <string>{223,101}</string>
      </dict>
      <key>gui-baccarat_status_kaijiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,519},{65,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,21}}</string>
        <key>sourceSize</key>
        <string>{65,21}</string>
      </dict>
      <key>gui-baccarat_status_xiazhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,717},{65,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,21}}</string>
        <key>sourceSize</key>
        <string>{65,21}</string>
      </dict>
      <key>gui-btn-bank.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,574},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-btn-bankicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1929,345},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>gui-btn-musicoff.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,635},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-btn-musicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,553},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-btn-rule.png</key>
      <dict>
        <key>frame</key>
        <string>{{1665,561},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-btn-soundoff.png</key>
      <dict>
        <key>frame</key>
        <string>{{1834,69},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-btn-soundon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1689,278},{206,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,80}}</string>
        <key>sourceSize</key>
        <string>{206,80}</string>
      </dict>
      <key>gui-gold-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1665,507},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>gui-menu-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,138},{228,346}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,346}}</string>
        <key>sourceSize</key>
        <string>{228,346}</string>
      </dict>
      <key>gui-otherinfo-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,662},{344,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{344,35}}</string>
        <key>sourceSize</key>
        <string>{344,35}</string>
      </dict>
      <key>gui-otherinfo-line.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,710},{309,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{309,2}}</string>
        <key>sourceSize</key>
        <string>{309,2}</string>
      </dict>
      <key>gui-otherinfo-scroll-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,699},{345,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{345,9}}</string>
        <key>sourceSize</key>
        <string>{345,9}</string>
      </dict>
      <key>gui-otherinfo-scroll-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,717},{84,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,32}}</string>
        <key>sourceSize</key>
        <string>{84,32}</string>
      </dict>
      <key>gui-texture-null.png</key>
      <dict>
        <key>frame</key>
        <string>{{1182,519},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>gui-user-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,296},{77,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>gui-wz-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,507},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,296},{264,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,65}}</string>
        <key>sourceSize</key>
        <string>{264,65}</string>
      </dict>
      <key>gui-wz-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,486},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,667},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,600},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,533},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,494},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,427},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1689,360},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>gui-wz-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,363},{238,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,65}}</string>
        <key>sourceSize</key>
        <string>{238,65}</string>
      </dict>
      <key>huanle30s_0dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,699},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_1dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,699},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_2dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,695},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_3dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1322,691},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_4dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1967,638},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_5dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,656},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_6dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,656},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_7dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1322,648},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,41}}</string>
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_8dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,704},{62,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,41}}</string>
        <key>sourceSize</key>
        <string>{62,41}</string>
      </dict>
      <key>huanle30s_9dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,704},{62,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,41}}</string>
        <key>sourceSize</key>
        <string>{62,41}</string>
      </dict>
      <key>name-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,692},{182,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,40}}</string>
        <key>sourceSize</key>
        <string>{182,40}</string>
      </dict>
      <key>qitawanjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,662},{83,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,87}}</string>
        <key>sourceSize</key>
        <string>{83,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>baccarat.png</string>
      <key>size</key>
      <string>{2043,751}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:871bd36041acf342000932c41c000029$</string>
      <key>textureFileName</key>
      <string>baccarat.png</string>
    </dict>
  </dict>
</plist>

