<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game25/btn_qxsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,487},{157,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,65}</string>
			</dict>
			<key>game25/btnAppBanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,525},{157,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,65}</string>
			</dict>
			<key>game25/btnAppBanker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,648},{157,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,65}</string>
			</dict>
			<key>game25/btnautobanker0.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,457},{101,21}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game25/btnautobanker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,256},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game25/btnhalo.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,675},{78,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,77}</string>
			</dict>
			<key>game25/btnoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,686},{157,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,65}</string>
			</dict>
			<key>game25/btnOffBanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,809},{157,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,65}</string>
			</dict>
			<key>game25/imgNamebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,364},{34,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,134}</string>
			</dict>
			<key>game25/time0.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,525},{123,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,30}</string>
			</dict>
			<key>game25/time1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,502},{123,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,31}</string>
			</dict>
			<key>game25/time2.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,414},{123,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,30}</string>
			</dict>
			<key>game25/time3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,638},{123,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,31}</string>
			</dict>
			<key>game25/timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,327},{83,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,80}</string>
			</dict>
			<key>game25/winHalo0.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,207},{1,1}}</string>
				<key>offset</key>
				<string>{129,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,314}</string>
			</dict>
			<key>game25/whistory.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{284,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,156}</string>
			</dict>
			<key>game25/shangzhuangBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,452},{219,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,136}</string>
			</dict>
			<key>game25/shangzhuanglist_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,162},{198,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,37}</string>
			</dict>
			<key>game25/icon_top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,648},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>game25/icon_top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,765},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>game25/icon_top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,806},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>game25/icon-banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,327},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>game25/icon-self.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,459},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>game25/sprLost.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,2},{321,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,123}</string>
			</dict>
			<key>game25/sprPlayerList.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,487},{147,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,39}</string>
			</dict>
			<key>game25/sprWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{321,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,123}</string>
			</dict>
			<key>game25/btnleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,562},{17,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,39}</string>
			</dict>
			<key>game25/btnright.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,605},{17,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,39}</string>
			</dict>
			<key>game25/bankerIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,652},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>game25/iconNotBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,363},{92,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,28}</string>
			</dict>
			<key>game25/niuniu_wanjialiebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,713},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>game25/splitLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,162},{343,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,2}</string>
			</dict>
			<key>game25/wappbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{446,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,33}</string>
			</dict>
			<key>game25/tableInfoBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,2},{451,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{451,23}</string>
			</dict>
			<key>game25/btnVipSeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,756},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>game25/xitongzuozhuangHeadicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,629},{64,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>game25/bankerCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,2},{250,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,27}</string>
			</dict>
			<key>game25/chip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,684},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>game25/chip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,970},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>game25/chip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,970},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>game25/chip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,970},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>game25/chip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,675},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>game25/txt_zongxiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,610},{71,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,24}</string>
			</dict>
			<key>game25/txt_benrenxiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,452},{93,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,24}</string>
			</dict>
			<key>game25/listbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,162},{102,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,359}</string>
			</dict>
			<key>game25/listsp.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,162},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
			<key>game25/listt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,529},{77,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,23}</string>
			</dict>
			<key>game25/listt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,549},{81,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,23}</string>
			</dict>
			<key>game25/btnclosepop.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,683},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game25.png</string>
			<key>realTextureFileName</key>
			<string>game25.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>