<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/watermargin/images/wm-result_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,609},{300,46}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,46}</string>
			</dict>
			<key>game/watermargin/images/w-texture-null.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1134},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/watermargin/images/xiaokuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,885},{111,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,87}</string>
			</dict>
			<key>game/watermargin/images/xuanzhongkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,760},{179,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,108}</string>
			</dict>
			<key>game/watermargin/images/yaxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,990},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>game/watermargin/images/yazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,990},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>game/watermargin/images/youxijianjie1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,226},{80,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,146}</string>
			</dict>
			<key>game/watermargin/images/youxijianjie2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,374},{80,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,146}</string>
			</dict>
			<key>game/watermargin/images/zhongjiangjine.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,870},{104,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,28}</string>
			</dict>
			<key>game/watermargin/images/zhongkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,974},{171,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,103}</string>
			</dict>
			<key>game/watermargin/images/zongyazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,870},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,28}</string>
			</dict>
			<key>game/watermargin/images/bankbtnsp.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,609},{164,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/bibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{270,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,387}</string>
			</dict>
			<key>game/watermargin/images/chishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,609},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>game/watermargin/images/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,750},{119,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,84}</string>
			</dict>
			<key>game/watermargin/images/duihuakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,925},{300,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,154}</string>
			</dict>
			<key>game/watermargin/images/exitbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,1},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>game/watermargin/images/goldicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,609},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>game/watermargin/images/guanbinv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,252},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1051},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,513},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,587},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,752},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,826},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-big-dice6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,900},{91,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-box-cehua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{236,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,360}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,339},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-push2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,426},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-shengyin-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,842},{134,49}}</string>
				<key>offset</key>
				<string>{-16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-shengyin-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,609},{134,50}}</string>
				<key>offset</key>
				<string>{-16,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-yingyue-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,609},{129,46}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/gui-water-button-yingyue-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,609},{129,52}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/gui-water-compare-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-compare-equip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,76},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-compare-little.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,151},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>
			<key>game/watermargin/images/gui-water-compare-new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,842},{54,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,48}</string>
			</dict>
			<key>game/watermargin/images/gui-water-compare-rope.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1125},{1334,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,8}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1079},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,1079},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1079},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,842},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,609},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-dice-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,1079},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>game/watermargin/images/gui-water-gold-ingot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,670},{133,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,66}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,159},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,309},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,459},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,669},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,901},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,301},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,653},{159,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,95}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,451},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,301},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,451},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,301},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-gray-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,451},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,301},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,451},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,151},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-mix-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,301},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,843},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,738},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,820},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,819},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,819},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1843,757},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,670},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,88},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-small-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,170},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>
			<key>game/watermargin/images/gui-water-result-big.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,907},{403,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,126}</string>
			</dict>
			<key>game/watermargin/images/gui-water-result-small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1141},{447,128}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,128}</string>
			</dict>
			<key>game/watermargin/images/gui-water-result-tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,779},{437,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,126}</string>
			</dict>
			<key>game/watermargin/images/gui-water-start-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1035},{186,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,103}</string>
			</dict>
			<key>game/watermargin/images/icondakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,1},{204,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,156}</string>
			</dict>
			<key>game/watermargin/images/jiaosetubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,609},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>game/watermargin/images/rulebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,609},{133,52}}</string>
				<key>offset</key>
				<string>{-18,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,70}</string>
			</dict>
			<key>game/watermargin/images/shoufen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,390},{270,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,387}</string>
			</dict>
			<key>game/watermargin/images/smadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1079},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>game/watermargin/images/wanfashuoming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,522},{80,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,146}</string>
			</dict>
			<key>game/watermargin/images/wanfashuoming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,609},{80,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,146}</string>
			</dict>
			<key>game/watermargin/images/gui-water-icon-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,451},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>game/watermargin/images/shine_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1},{21,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,73}</string>
			</dict>
			<key>game/watermargin/images/add1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,974},{79,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/add2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,609},{72,58}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/add3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1043},{79,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/addkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,750},{104,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1035},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,893},{200,79}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1035},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/startkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,907},{233,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/stopgame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1024},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/stopgame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,670},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/stopgame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,670},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/sub1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1051},{79,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/sub2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,609},{72,58}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/sub3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,1112},{79,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>game/watermargin/images/shoufen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,670},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/shoufen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,663},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/shoufen3.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,900},{207,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,115}</string>
			</dict>
			<key>game/watermargin/images/dashashifangbibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,753},{206,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,87}</string>
			</dict>
			<key>game/watermargin/images/dashashifangshoufen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,661},{206,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,87}</string>
			</dict>
			<key>game/watermargin/images/xiaomalikaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,990},{206,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,87}</string>
			</dict>
			<key>game/watermargin/images/zhongjianglvkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,760},{195,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>water-margin-main-package.png</string>
			<key>realTextureFileName</key>
			<string>water-margin-main-package.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>