<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lkpy_fxj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>lkpy_guanghuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lkpy_wozaizheli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{176,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{176,81}</string>
            </dict>
            <key>lkpy_zisaoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,133},{15,31}}</string>
                <key>offset</key>
                <string>{-80,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,31}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{85,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,49},{87,45}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{89,45}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,96},{87,45}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,143},{83,45}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{83,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,143},{69,45}}</string>
                <key>offset</key>
                <string>{53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{69,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,47},{57,41}}</string>
                <key>offset</key>
                <string>{59,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,3},{57,41}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{41,41}}</string>
                <key>offset</key>
                <string>{67,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,90},{31,41}}</string>
                <key>offset</key>
                <string>{72,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,3},{31,41}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{19,41}}</string>
                <key>offset</key>
                <string>{78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,2},{19,41}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,45},{25,41}}</string>
                <key>offset</key>
                <string>{-75,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,41}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{39,43}}</string>
                <key>offset</key>
                <string>{-68,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,43}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,190},{53,45}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,96},{65,45}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,190},{79,45}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,49},{87,45}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,193},{89,45}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>lkpy_zisaoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,193},{89,45}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruchangtixing_likpiyu0.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35f274e8a4efb7ef583864842509fc57$</string>
            <key>textureFileName</key>
            <string>ruchangtixing_likpiyu0.png</string>
        </dict>
    </dict>
</plist>
