<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fruitV3Baozha1/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1080},{111,114}}</string>
        <key>offset</key>
        <string>{-4,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,8},{111,114}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>fruitV3Baozha1/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,950},{137,128}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{137,128}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>fruitV3Baozha1/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,783},{165,174}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{165,174}}</string>
        <key>sourceSize</key>
        <string>{169,180}</string>
      </dict>
      <key>fruitV3Baozha1/5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,203},{190,191}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{190,191}}</string>
        <key>sourceSize</key>
        <string>{194,197}</string>
      </dict>
      <key>fruitV3Baozha1/6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{199,199}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{199,199}}</string>
        <key>sourceSize</key>
        <string>{205,207}</string>
      </dict>
      <key>fruitV3Baozha1/7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,395},{205,186}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,13},{205,186}}</string>
        <key>sourceSize</key>
        <string>{213,212}</string>
      </dict>
      <key>fruitV3Baozha1/8.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,602},{185,179}}</string>
        <key>offset</key>
        <string>{-5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{185,179}}</string>
        <key>sourceSize</key>
        <string>{203,199}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fruitV3Baozha1.png</string>
      <key>size</key>
      <string>{203,1193}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:23192ea6a83e654908ccc1c8835e30f6:1/1$</string>
      <key>textureFileName</key>
      <string>fruitV3Baozha1.png</string>
    </dict>
  </dict>
</plist>

