<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>popai1111.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian111.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>328</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>328</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pktiaozi2.png</key>
			<dict>
				<key>width</key>
				<integer>697</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>697</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pktiaozi1.png</key>
			<dict>
				<key>width</key>
				<integer>669</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>669</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pktiaozimohu2.png</key>
			<dict>
				<key>width</key>
				<integer>747</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>747</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pktiaozimohu1.png</key>
			<dict>
				<key>width</key>
				<integer>715</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>715</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bipai_zhajinhua0.png</string>
			<key>realTextureFileName</key>
			<string>bipai_zhajinhua0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>