<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>liansuoshandian0003.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>liansuoshandian0001.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>liansuoshandian0002.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>liansuoshandian_buyu0.png</string>
			<key>realTextureFileName</key>
			<string>liansuoshandian_buyu0.png</string>
			<key>size</key>
			<string>{256,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>