<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuihuLine/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{1082,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,8}}</string>
                <key>sourceSize</key>
                <string>{1082,8}</string>
            </dict>
            <key>shuihuLine/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{1082,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,8}}</string>
                <key>sourceSize</key>
                <string>{1082,8}</string>
            </dict>
            <key>shuihuLine/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{1082,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,8}}</string>
                <key>sourceSize</key>
                <string>{1082,8}</string>
            </dict>
            <key>shuihuLine/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1082,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,357}}</string>
                <key>sourceSize</key>
                <string>{1082,357}</string>
            </dict>
            <key>shuihuLine/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{1082,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,356}}</string>
                <key>sourceSize</key>
                <string>{1082,356}</string>
            </dict>
            <key>shuihuLine/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,2},{1082,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,105}}</string>
                <key>sourceSize</key>
                <string>{1082,105}</string>
            </dict>
            <key>shuihuLine/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{1082,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,105}}</string>
                <key>sourceSize</key>
                <string>{1082,105}</string>
            </dict>
            <key>shuihuLine/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{1082,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,189}}</string>
                <key>sourceSize</key>
                <string>{1082,189}</string>
            </dict>
            <key>shuihuLine/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{1082,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,186}}</string>
                <key>sourceSize</key>
                <string>{1082,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuihuCCSImg2.png</string>
            <key>size</key>
            <string>{1342,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8994bdd6f0cc5822b00e4e4b74bf22c9:1/1$</string>
            <key>textureFileName</key>
            <string>shuihuCCSImg2.png</string>
        </dict>
    </dict>
</plist>
