<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-gaigaigai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,353},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>btn_contact_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,504},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>btn_contact_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,504},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>btn_reback_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,189},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>btn_reback_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,470},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>gui-gm-icon-gold-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,353},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>gui-gm-icon-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,891},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>gui-hall-bottom-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{1298,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1298,47}}</string>
                <key>sourceSize</key>
                <string>{1298,47}</string>
            </dict>
            <key>gui-hall-btn-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,432},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>gui-hall-btn-cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,291},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-hall-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,427},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-hall-btn-confim.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,409},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>gui-hall-btn-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,432},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>gui-hall-btn-gold-add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,189},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>gui-hall-btn-msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,291},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>gui-hall-btn-recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{201,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,111}}</string>
                <key>sourceSize</key>
                <string>{201,111}</string>
            </dict>
            <key>gui-hall-btn-relieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,598},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>gui-hall-btn-service.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,65},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>gui-hall-btn-setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,432},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>gui-hall-btn-spread.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,213},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>gui-hall-btn-submit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,323},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>gui-hall-button-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,86},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>gui-hall-cash-btn-pull.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,959},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>gui-hall-cash-btn-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,959},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>gui-hall-cash-icon-aliypay.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,432},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>gui-hall-cash-icon-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,538},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>gui-hall-cash-icon-wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,890},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>gui-hall-cash-select-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,99},{340,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,178}}</string>
                <key>sourceSize</key>
                <string>{340,178}</string>
            </dict>
            <key>gui-hall-cash-select-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{308,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,2}}</string>
                <key>sourceSize</key>
                <string>{308,2}</string>
            </dict>
            <key>gui-hall-dialog-modle-shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-hall-dialog-small-shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-hall-gameType-duizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,343},{319,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,247}}</string>
                <key>sourceSize</key>
                <string>{319,247}</string>
            </dict>
            <key>gui-hall-gameType-duoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,221},{319,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,247}}</string>
                <key>sourceSize</key>
                <string>{319,247}</string>
            </dict>
            <key>gui-hall-gameType-fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{311,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,487}}</string>
                <key>sourceSize</key>
                <string>{311,487}</string>
            </dict>
            <key>gui-hall-img-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,891},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>gui-hall-img-red-point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,37},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>gui-hall-input-bg-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,46},{354,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,51}}</string>
                <key>sourceSize</key>
                <string>{354,51}</string>
            </dict>
            <key>gui-hall-input-bg-midle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,279},{333,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,62}}</string>
                <key>sourceSize</key>
                <string>{333,62}</string>
            </dict>
            <key>gui-hall-input-bg-short.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,238},{295,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,51}}</string>
                <key>sourceSize</key>
                <string>{295,51}</string>
            </dict>
            <key>gui-hall-roll-msg-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,379},{685,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,51}}</string>
                <key>sourceSize</key>
                <string>{685,51}</string>
            </dict>
            <key>gui-hall-service-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1624,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,82}}</string>
                <key>sourceSize</key>
                <string>{1624,82}</string>
            </dict>
            <key>gui-hall-service-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,2},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>gui-hall-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,86},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>gui-hall-title-cash-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,959},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-hall-title-cash-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,539},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-hall-title-cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,480},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-hall-top-address-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{383,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,42}}</string>
                <key>sourceSize</key>
                <string>{383,42}</string>
            </dict>
            <key>gui-hall-top-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{1465,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1465,101}}</string>
                <key>sourceSize</key>
                <string>{1465,101}</string>
            </dict>
            <key>gui-hall-top-btn-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,891},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>gui-hall-top-cash-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,937},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>gui-hall-top-cash-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,806},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>gui-hall-top-cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,514},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>gui-hall-top-gold-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,470},{215,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,42}}</string>
                <key>sourceSize</key>
                <string>{215,42}</string>
            </dict>
            <key>gui-hall-top-head-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,514},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>gui-logo-hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,819},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>gui-logo-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,778},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>gui-texture-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{2040,37},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>icon-gai-yue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>icon-room-busy.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,670},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>icon-room-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,178},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>icon-room-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,146},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>image-download-logo-error.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,432},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-logo-install.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,514},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-logo-update.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,598},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-logo-wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,598},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-need.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,514},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-res-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,706},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-download-res-pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,941},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>image-gai-inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,353},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>image-gai-message.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,706},{87,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>image-gai-qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,806},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>image-gai-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,238},{232,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,83}}</string>
                <key>sourceSize</key>
                <string>{232,83}</string>
            </dict>
            <key>image-gai-xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,294},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>title_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,959},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-hall.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:666645a9290464c56105fe556fff7ac6$</string>
            <key>textureFileName</key>
            <string>gui-hall.png</string>
        </dict>
    </dict>
</plist>
