<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-hall-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>gui-recharge-agent-btn-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-recharge-agent-input-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,252},{354,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,51}}</string>
                <key>sourceSize</key>
                <string>{354,51}</string>
            </dict>
            <key>gui-recharge-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-recharge-btn-clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>gui-recharge-btn-commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,171},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-recharge-btn-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,305},{322,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,85}}</string>
                <key>sourceSize</key>
                <string>{322,85}</string>
            </dict>
            <key>gui-recharge-icon-aliypay.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,709},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>gui-recharge-icon-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,500},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>gui-recharge-icon-jindon.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,547},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>gui-recharge-icon-qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,440},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>gui-recharge-icon-wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,392},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>gui-recharge-id-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,259},{275,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,74}}</string>
                <key>sourceSize</key>
                <string>{275,74}</string>
            </dict>
            <key>gui-recharge-open-qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,367},{280,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,30}}</string>
                <key>sourceSize</key>
                <string>{280,30}</string>
            </dict>
            <key>gui-recharge-open-wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,335},{280,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,30}}</string>
                <key>sourceSize</key>
                <string>{280,30}</string>
            </dict>
            <key>gui-recharge-report-wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,598},{168,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,29}}</string>
                <key>sourceSize</key>
                <string>{168,29}</string>
            </dict>
            <key>gui-recharge-report.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,101},{231,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,68}}</string>
                <key>sourceSize</key>
                <string>{231,68}</string>
            </dict>
            <key>gui-recharge-text-award.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{385,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,43}}</string>
                <key>sourceSize</key>
                <string>{385,43}</string>
            </dict>
            <key>gui-recharge-title-contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>gui-recharge-title-report.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>gui-shop-agent-btn-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>gui-shop-agent-btn-recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,654},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>gui-shop-agent-icon-qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,370},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gui-shop-agent-icon-wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,305},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gui-shop-agent-item-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{349,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,92}}</string>
                <key>sourceSize</key>
                <string>{349,92}</string>
            </dict>
            <key>gui-shop-btn-agent-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,607},{165,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>gui-shop-btn-agent-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{177,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,47}}</string>
                <key>sourceSize</key>
                <string>{177,47}</string>
            </dict>
            <key>gui-shop-btn-aliypay-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{180,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,47}}</string>
                <key>sourceSize</key>
                <string>{180,47}</string>
            </dict>
            <key>gui-shop-btn-aliypay-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{206,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,47}}</string>
                <key>sourceSize</key>
                <string>{206,47}</string>
            </dict>
            <key>gui-shop-btn-buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,664},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>gui-shop-btn-cash-nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,816},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>gui-shop-btn-cash-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,391},{114,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{114,47}</string>
            </dict>
            <key>gui-shop-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-shop-btn-commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,171},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-shop-btn-dianka-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,615},{155,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,47}}</string>
                <key>sourceSize</key>
                <string>{155,47}</string>
            </dict>
            <key>gui-shop-btn-dianka-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,583},{171,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,47}}</string>
                <key>sourceSize</key>
                <string>{171,47}</string>
            </dict>
            <key>gui-shop-btn-jindon-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,549},{171,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,47}}</string>
                <key>sourceSize</key>
                <string>{171,47}</string>
            </dict>
            <key>gui-shop-btn-jindon-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,483},{196,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
            <key>gui-shop-btn-qq-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,629},{160,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,47}}</string>
                <key>sourceSize</key>
                <string>{160,47}</string>
            </dict>
            <key>gui-shop-btn-qq-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{165,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>gui-shop-btn-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,392},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-shop-btn-union-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,534},{180,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,47}}</string>
                <key>sourceSize</key>
                <string>{180,47}</string>
            </dict>
            <key>gui-shop-btn-union-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{205,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,47}}</string>
                <key>sourceSize</key>
                <string>{205,47}</string>
            </dict>
            <key>gui-shop-btn-wechat-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,632},{165,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>gui-shop-btn-wechat-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,500},{176,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,47}}</string>
                <key>sourceSize</key>
                <string>{176,47}</string>
            </dict>
            <key>gui-shop-content-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,123}}</string>
                <key>sourceSize</key>
                <string>{751,123}</string>
            </dict>
            <key>gui-shop-dianka-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,681},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>gui-shop-dianka-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,557},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>gui-shop-dianka-check-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,485},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gui-shop-dianka-check.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,435},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gui-shop-list-shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{702,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,8}}</string>
                <key>sourceSize</key>
                <string>{702,8}</string>
            </dict>
            <key>gui-shop-select-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,399},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-shop-select-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,499},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>gui-shop-tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{242,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,97}}</string>
                <key>sourceSize</key>
                <string>{242,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-shop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f2e6c1bb9934cb323da275d851b84af$</string>
            <key>textureFileName</key>
            <string>gui-shop.png</string>
        </dict>
    </dict>
</plist>
