<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-setting-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,77},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>gui-setting-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{171,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,73}}</string>
                <key>sourceSize</key>
                <string>{171,73}</string>
            </dict>
            <key>gui-setting-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,453},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>gui-setting-icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{108,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,41}}</string>
                <key>sourceSize</key>
                <string>{108,41}</string>
            </dict>
            <key>gui-setting-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,352}}</string>
                <key>sourceSize</key>
                <string>{2,352}</string>
            </dict>
            <key>gui-setting-open.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,77},{170,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,73}}</string>
                <key>sourceSize</key>
                <string>{170,73}</string>
            </dict>
            <key>gui-setting-switch-account.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{241,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>gui-setting-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{162,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,95}}</string>
                <key>sourceSize</key>
                <string>{162,95}</string>
            </dict>
            <key>gui-userinfo-head-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,152},{153,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,161}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-setting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3c74037672a90a5ea72de4234582eb0$</string>
            <key>textureFileName</key>
            <string>gui-setting.png</string>
        </dict>
    </dict>
</plist>
