<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,715}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,715}}</string>
                <key>sourceSize</key>
                <string>{1001,715}</string>
            </dict>
            <key>gui-hall-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,719},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>gui-shop-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1041},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-shop-item-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,978},{246,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,257}}</string>
                <key>sourceSize</key>
                <string>{246,257}</string>
            </dict>
            <key>gui-shop-item-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{246,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,257}}</string>
                <key>sourceSize</key>
                <string>{246,257}</string>
            </dict>
            <key>gui-shop-item-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,719},{246,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,257}}</string>
                <key>sourceSize</key>
                <string>{246,257}</string>
            </dict>
            <key>gui-shop-item-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,719},{367,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,257}}</string>
                <key>sourceSize</key>
                <string>{367,257}</string>
            </dict>
            <key>gui-shop-item-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{367,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,257}}</string>
                <key>sourceSize</key>
                <string>{367,257}</string>
            </dict>
            <key>gui-shop-item-btn-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1041},{162,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,61}}</string>
                <key>sourceSize</key>
                <string>{162,61}</string>
            </dict>
            <key>gui-shop-item-btn-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1041},{162,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,61}}</string>
                <key>sourceSize</key>
                <string>{162,61}</string>
            </dict>
            <key>gui-shop-item-btn-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,978},{162,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,61}}</string>
                <key>sourceSize</key>
                <string>{162,61}</string>
            </dict>
            <key>gui-shop-item-btn-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,978},{162,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,61}}</string>
                <key>sourceSize</key>
                <string>{162,61}</string>
            </dict>
            <key>gui-shop-item-btn-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,978},{162,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,61}}</string>
                <key>sourceSize</key>
                <string>{162,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-apple-shop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93152768b4cbee702eab29702e31c1f8:1/1$</string>
            <key>textureFileName</key>
            <string>gui-apple-shop.png</string>
        </dict>
    </dict>
</plist>
