<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-spread-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,284},{64,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,105}}</string>
                <key>sourceSize</key>
                <string>{64,105}</string>
            </dict>
            <key>gui-spread-choose-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,284},{169,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,47}}</string>
                <key>sourceSize</key>
                <string>{169,47}</string>
            </dict>
            <key>gui-spread-cutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{678,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,2}}</string>
                <key>sourceSize</key>
                <string>{678,2}</string>
            </dict>
            <key>gui-spread-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,225},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>gui-spread-head-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,470},{153,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,161}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>gui-spread-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{683,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,36}}</string>
                <key>sourceSize</key>
                <string>{683,36}</string>
            </dict>
            <key>gui-spread-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,424}}</string>
                <key>sourceSize</key>
                <string>{760,424}</string>
            </dict>
            <key>gui-spread-icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>gui-spread-lv-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{442,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,21}}</string>
                <key>sourceSize</key>
                <string>{442,21}</string>
            </dict>
            <key>gui-spread-lv-progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{442,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,19}}</string>
                <key>sourceSize</key>
                <string>{442,19}</string>
            </dict>
            <key>gui-spread-lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,613},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>gui-spread-lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,514},{132,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,26}}</string>
                <key>sourceSize</key>
                <string>{132,26}</string>
            </dict>
            <key>gui-spread-lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,596},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>gui-spread-lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,569},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>gui-spread-lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,542},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>gui-spread-lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,585},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>gui-spread-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-spread-save.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,333},{163,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>gui-spread-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,440},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-spread-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,179},{194,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,103}}</string>
                <key>sourceSize</key>
                <string>{194,103}</string>
            </dict>
            <key>gui-spread-title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,555},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>gui-spread-title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>gui-spread-title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{129,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,28}}</string>
                <key>sourceSize</key>
                <string>{129,28}</string>
            </dict>
            <key>gui-spread-title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,399},{158,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>gui-spread-title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,514},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>gui-spread-title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{126,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{126,39}</string>
            </dict>
            <key>gui-spread-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,179},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>gui-spread-update-account.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,93},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-spread.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:606f0ec3eb19c755bdb9aa8a04aceaf7$</string>
            <key>textureFileName</key>
            <string>gui-spread.png</string>
        </dict>
    </dict>
</plist>
