<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-userinfo-button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,119},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-userinfo-button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-userinfo-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,397},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-userinfo-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,397},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>gui-userinfo-editbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,51}}</string>
                <key>sourceSize</key>
                <string>{354,51}</string>
            </dict>
            <key>gui-userinfo-female-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,371},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>gui-userinfo-head-frame-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,236},{133,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,155}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>gui-userinfo-head-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,81},{153,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,161}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>gui-userinfo-head-setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>gui-userinfo-headicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,397},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>gui-userinfo-info-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,371},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>gui-userinfo-info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>gui-userinfo-male-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,119},{69,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,45}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>gui-userinfo-modify-name.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,166},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>gui-userinfo-name-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{333,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,62}}</string>
                <key>sourceSize</key>
                <string>{333,62}</string>
            </dict>
            <key>gui-userinfo-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gui-userinfo-select-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,443},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>gui-userinfo-select-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,418},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>gui-userinfo-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,371},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>gui-userinfo-tips-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,55},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>gui-userinfo-tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,61},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>gui-userinfo-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,296},{223,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,99}}</string>
                <key>sourceSize</key>
                <string>{223,99}</string>
            </dict>
            <key>gui-userinfo-update-account.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,210},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>gui-usreinfo-head-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,371},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-hall-userinfo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee871d412ae32d331e8577c13a0d9219$</string>
            <key>textureFileName</key>
            <string>gui-hall-userinfo.png</string>
        </dict>
    </dict>
</plist>
