<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-message-center-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{671,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,83}}</string>
                <key>sourceSize</key>
                <string>{671,83}</string>
            </dict>
            <key>gui-message-center-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-message-center-delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,188},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>gui-message-center-deleteAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>gui-message-center-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{728,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,445}}</string>
                <key>sourceSize</key>
                <string>{728,445}</string>
            </dict>
            <key>gui-message-center-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,225},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>gui-message-center-info.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,188},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>gui-message-center-read.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,243},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>gui-message-center-titile.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,88},{223,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,98}}</string>
                <key>sourceSize</key>
                <string>{223,98}</string>
            </dict>
            <key>gui-message-center-unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,243},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>gui-message-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-message-center.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0231a438481cd9171b946cd839556b7$</string>
            <key>textureFileName</key>
            <string>gui-message-center.png</string>
        </dict>
    </dict>
</plist>
