<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-exchange-exchange-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,468},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>gui-exchange-exchange-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,351},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>gui-exchange-exchange-select-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,427},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>gui-exchange-exchange-select-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,256},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>gui-exchange-exchange-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,215},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>gui-exchange-exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,258},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>gui-hall-cash-btn-pull.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,217},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>gui-hall-cash-btn-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>gui-hall-cash-select-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{340,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,178}}</string>
                <key>sourceSize</key>
                <string>{340,178}</string>
            </dict>
            <key>gui-hall-cash-select-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,182},{308,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,2}}</string>
                <key>sourceSize</key>
                <string>{308,2}</string>
            </dict>
            <key>gui-hall-title-cash-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,297},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-hall-title-cash-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,217},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-hall-title-cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,217},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>gui-userinfo-bank-list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,213}}</string>
                <key>sourceSize</key>
                <string>{667,213}</string>
            </dict>
            <key>gui-userinfo-bind-card-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,386},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>gui-userinfo-bind-card-select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,258},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>gui-userinfo-bind-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,258},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>gui-userinfo-bind-card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,356},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>gui-userinfo-bind-zhifubao-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,217},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>gui-userinfo-bind-zhifubao-select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,217},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>gui-userinfo-bind-zhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,476},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>gui-userinfo-bind-zhifubao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>gui-userinfo-bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-userinfo-button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-userinfo-button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,186},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-userinfo-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gui-userinfo-select-icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,182},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>gui-userinfo-select-icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,297},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
            <key>gui-userinfo-tips-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,186},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>gui-userinfo-tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,217},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-hall-exchange.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c87fc2bca3d014a26af1b4544384edf6$</string>
            <key>textureFileName</key>
            <string>gui-hall-exchange.png</string>
        </dict>
    </dict>
</plist>
