<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-bank-.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,335},{191,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,98}}</string>
                <key>sourceSize</key>
                <string>{191,98}</string>
            </dict>
            <key>gui-bank-add.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,347},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>gui-bank-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,462},{169,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,47}}</string>
                <key>sourceSize</key>
                <string>{169,47}</string>
            </dict>
            <key>gui-bank-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,283},{333,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,62}}</string>
                <key>sourceSize</key>
                <string>{333,62}</string>
            </dict>
            <key>gui-bank-bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,282},{295,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,51}}</string>
                <key>sourceSize</key>
                <string>{295,51}</string>
            </dict>
            <key>gui-bank-bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,335},{161,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,45}}</string>
                <key>sourceSize</key>
                <string>{161,45}</string>
            </dict>
            <key>gui-bank-bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{698,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,33}}</string>
                <key>sourceSize</key>
                <string>{698,33}</string>
            </dict>
            <key>gui-bank-bottom-big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-bank-bottom-mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,113}}</string>
                <key>sourceSize</key>
                <string>{751,113}</string>
            </dict>
            <key>gui-bank-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,279},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>gui-bank-button-findpwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,457},{138,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,49}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>gui-bank-button-in.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,462},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>gui-bank-button-max.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,347},{155,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,70}}</string>
                <key>sourceSize</key>
                <string>{155,70}</string>
            </dict>
            <key>gui-bank-button-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,90},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-bank-button-out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>gui-bank-button-refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,419},{169,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,66}}</string>
                <key>sourceSize</key>
                <string>{169,66}</string>
            </dict>
            <key>gui-bank-button-reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>gui-bank-button-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,181},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-bank-button-sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>gui-bank-button-transfer.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,283},{138,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,49}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>gui-bank-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,147},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>gui-bank-button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,435},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>gui-bank-certification.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,347},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>gui-bank-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,404},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-bank-deposit-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,119},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>gui-bank-deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,156},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>gui-bank-deposit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,468},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>gui-bank-detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,117},{49,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>gui-bank-detail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,335},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>gui-bank-give-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,89},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>gui-bank-huadongt-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,31}}</string>
                <key>sourceSize</key>
                <string>{63,31}</string>
            </dict>
            <key>gui-bank-huadongt-xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,182},{349,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,7}}</string>
                <key>sourceSize</key>
                <string>{349,7}</string>
            </dict>
            <key>gui-bank-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,487},{104,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,21}}</string>
                <key>sourceSize</key>
                <string>{104,21}</string>
            </dict>
            <key>gui-bank-icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,156},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>gui-bank-icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,156},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>gui-bank-icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,156},{68,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,23}}</string>
                <key>sourceSize</key>
                <string>{68,23}</string>
            </dict>
            <key>gui-bank-icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,156},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>gui-bank-icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,435},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>gui-bank-icon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,156},{114,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,24}}</string>
                <key>sourceSize</key>
                <string>{114,24}</string>
            </dict>
            <key>gui-bank-icon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,245},{479,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,36}}</string>
                <key>sourceSize</key>
                <string>{479,36}</string>
            </dict>
            <key>gui-bank-line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{686,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,2}}</string>
                <key>sourceSize</key>
                <string>{686,2}</string>
            </dict>
            <key>gui-bank-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gui-bank-out-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,62},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>gui-bank-out.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,156},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>gui-bank-out1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,468},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>gui-bank-recharge-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>gui-bank-scrollbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,193},{507,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,25}}</string>
                <key>sourceSize</key>
                <string>{507,25}</string>
            </dict>
            <key>gui-bank-scrollbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,220},{507,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,23}}</string>
                <key>sourceSize</key>
                <string>{507,23}</string>
            </dict>
            <key>gui-bank-spead-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,146},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>gui-bank-tip-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,347},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>gui-bank-transfer-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,33},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>gui-bank-transfer-log-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{177,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,178}}</string>
                <key>sourceSize</key>
                <string>{177,178}</string>
            </dict>
            <key>gui-bank-transfer-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,410},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,56}</string>
            </dict>
            <key>gui-bank-transfer.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,156},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>gui-bank-transfer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,468},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-bank.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e191acf212c93a7cdf469921d77f009$</string>
            <key>textureFileName</key>
            <string>gui-bank.png</string>
        </dict>
    </dict>
</plist>
