<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fqzs_btn_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,149},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>fqzs_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,67},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>gold-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{179,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,35}}</string>
                <key>sourceSize</key>
                <string>{179,35}</string>
            </dict>
            <key>gui-common-btn-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,904},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>gui-common-btn-xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,638},{136,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,113}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>gui-gm-button-qxsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,812},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>gui-gm-button-sqsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,208},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>gui-gm-gz-gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,288},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>gui-icon-tv.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,95},{134,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,111}}</string>
                <key>sourceSize</key>
                <string>{134,111}</string>
            </dict>
            <key>gui-niuniu-bet-button-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,350},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>gui-niuniu-bet-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>gui-niuniu-bet-button-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>gui-niuniu-bet-button-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>gui-niuniu-button-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,235},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>gui-niuniu-button-ext.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,812},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>gui-niuniu-button-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,752},{225,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>gui-niuniu-button-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,715},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>gui-niuniu-button-push2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,542},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>gui-niuniu-button-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,651},{274,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,99}}</string>
                <key>sourceSize</key>
                <string>{274,99}</string>
            </dict>
            <key>gui-niuniu-button-shengying-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,753},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>gui-niuniu-button-shengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,514},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>gui-niuniu-button-yingyue-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,432},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>gui-niuniu-button-yingyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,350},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>gui-niuniu-cehua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,346}}</string>
                <key>sourceSize</key>
                <string>{228,346}</string>
            </dict>
            <key>gui-niuniu-fapaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,629},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>gui-niuniu-gold-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>gui-niuniu-icon-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,361},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>gui-niuniu-icon-yxjj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,914},{123,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,33}}</string>
                <key>sourceSize</key>
                <string>{123,33}</string>
            </dict>
            <key>gui-niuniu-icon-yxjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,345},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>gui-niuniu-icon-yxwf-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,888},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>gui-niuniu-icon-yxwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,922},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>gui-niuniu-info-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,541},{213,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,108}}</string>
                <key>sourceSize</key>
                <string>{213,108}</string>
            </dict>
            <key>gui-niuniu-info-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,910},{309,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,2}}</string>
                <key>sourceSize</key>
                <string>{309,2}</string>
            </dict>
            <key>gui-niuniu-jetton-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,751},{180,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,59}}</string>
                <key>sourceSize</key>
                <string>{180,59}</string>
            </dict>
            <key>gui-niuniu-new-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,914},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gui-niuniu-niu-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,147},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>gui-niuniu-niu-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,717},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,860},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>gui-niuniu-niu-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,816},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>gui-niuniu-niu-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,899},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>gui-niuniu-niu-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,900},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>gui-niuniu-niu-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,284},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>gui-niuniu-niu-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,673},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,629},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,585},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,541},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,463},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,419},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,375},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-niu-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,191},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>gui-niuniu-other-info-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,302},{344,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,35}}</string>
                <key>sourceSize</key>
                <string>{344,35}</string>
            </dict>
            <key>gui-niuniu-remain.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,761},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>gui-niuniu-scroll-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,339},{345,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,9}}</string>
                <key>sourceSize</key>
                <string>{345,9}</string>
            </dict>
            <key>gui-niuniu-scroll-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,507},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>gui-niuniu-tip-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,922},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>gui-niuniu-top-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{322,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,112}}</string>
                <key>sourceSize</key>
                <string>{322,112}</string>
            </dict>
            <key>gui-niuniu-total.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,789},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>gui-niuniu-trend-failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,943},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>gui-niuniu-trend-newbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,914},{144,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,41}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>gui-niuniu-trend-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,943},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>gui-niuniu-user-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,67},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>gui-texture-null.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,843},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gui-wz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,491},{188,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,63}}</string>
                <key>sourceSize</key>
                <string>{188,63}</string>
            </dict>
            <key>gui-wz-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{219,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,63}}</string>
                <key>sourceSize</key>
                <string>{219,63}</string>
            </dict>
            <key>gui-wz-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,686},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,621},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,426},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,361},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,296},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,556},{197,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,63}}</string>
                <key>sourceSize</key>
                <string>{197,63}</string>
            </dict>
            <key>gui-wz-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,231},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,835},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{199,63}</string>
            </dict>
            <key>gui-wz-ts-bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{526,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,48}}</string>
                <key>sourceSize</key>
                <string>{526,48}</string>
            </dict>
            <key>gui-wz-wanj.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,843},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>name-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,596},{182,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,40}}</string>
                <key>sourceSize</key>
                <string>{182,40}</string>
            </dict>
            <key>niuniu_status_kaijiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,928},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>niuniu_status_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,904},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>niuniu_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,95},{350,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,91}}</string>
                <key>sourceSize</key>
                <string>{350,91}</string>
            </dict>
            <key>qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,453},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>total-bet-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,52},{466,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,41}}</string>
                <key>sourceSize</key>
                <string>{466,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu-game.png</string>
            <key>size</key>
            <string>{1010,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36a9a5ab87ea94d85125d87fa29c3f4$</string>
            <key>textureFileName</key>
            <string>niuniu-game.png</string>
        </dict>
    </dict>
</plist>
