<plist>
  <dict>
    <key>maxParticles</key>
    <real>6</real>
    <key>angle</key>
    <real>90</real>
    <key>angleVariance</key>
    <real>24</real>
    <key>duration</key>
    <real>-1</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>1</real>
    <key>startColorGreen</key>
    <real>1</real>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorVarianceAlpha</key>
    <real>0.15000000596046448</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>finishColorAlpha</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>1</real>
    <key>finishColorGreen</key>
    <real>1</real>
    <key>finishColorRed</key>
    <real>0</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.10000000149011612</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <real>10</real>
    <key>startParticleSizeVariance</key>
    <real>3</real>
    <key>finishParticleSize</key>
    <real>9</real>
    <key>finishParticleSizeVariance</key>
    <real>3</real>
    <key>sourcePositionVariancex</key>
    <real>10</real>
    <key>sourcePositionVariancey</key>
    <real>5</real>
    <key>sourcePositionx</key>
    <real>320</real>
    <key>sourcePositiony</key>
    <real>480</real>
    <key>rotationStart</key>
    <real>0</real>
    <key>rotationStartVariance</key>
    <real>0</real>
    <key>rotationEnd</key>
    <real>0</real>
    <key>rotationEndVariance</key>
    <real>0</real>
    <key>gravityx</key>
    <real>6</real>
    <key>gravityy</key>
    <real>45</real>
    <key>speed</key>
    <real>30</real>
    <key>speedVariance</key>
    <real>10</real>
    <key>tangentialAcceleration</key>
    <real>0</real>
    <key>tangentialAccelVariance</key>
    <real>0</real>
    <key>radialAcceleration</key>
    <real>0</real>
    <key>radialAccelVariance</key>
    <real>0</real>
    <key>rotationIsDir</key>
    <integer>0</integer>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>1.5</real>
    <key>particleLifespanVariance</key>
    <real>0</real>
    <key>yCoordFlipped</key>
    <integer>1</integer>
    <key>blendAdditive</key>
    <integer>0</integer>
    <key>textureFileName</key>
    <string>bubble.png</string>
    <key>textureImageData</key>
    <string>H4sIAAAAAAAACgGOAnH9iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAq1BMVEUAAADG1v+6zv/R4f+qwP/P3f+etv/I5f+2z//S3/+90f+Mr//V4f/M2v/V4v+ctP+Wp/+Stv/D0/+luv/V4v+juv/U4f+wyP/V4f/V4v+yy//U4P+Usv+3zf+xyf/K2f+/0P+pvv+1zf/W4P+rxP/V4v/B0//X4v/X4v/V4v/V4v/K2v/W4f/y9v/X4v/X4f/j6//r8f/R4v/T3f/Y4//7/P/8/v/D1f++1f/KQPPfAAAAOXRSTlMATDgHIVgUAQNdOwpfVCcFBw5FG1kXTSpHLC0aETInUEAeLxUlYj0KEEFSTjSdIGd5ixcMa7O/OSksUZP5AAABWUlEQVQoz72S13aDMBBELSEBAonei+mmO27J/39aENg5+Pg983rPjGZ3ddhJ0oVWkA+fku/x1Ad92H3ANgwwF/G0dyZ1PcUgV5STxXAo70nlfX01TPGPfqmMeO/rgsflOl+z2raRD8Fw/mPC1Dyu3z+zg5JEtI8w8yrpGXdzCLnM8+UkGoaa2EeF9e2z9kSBNWIvdQ1Z0lWxiKxXlfuA89RHtqkvMbJuujVk3n1FMcmUCLmmIfN0WRVRCpzzijQKoM8Rd/FEVFpEW1uEDYCLK1GXpyTdMN3FtaFD2GSnsrZFUzWMrSLMnHh7i2ILLjXExFRVM3FRmeNA2CYOmnGpWBeuK4qujSJlJJq0zXWmBOSwPNaoKFAdQUB64bWokFJm5TCNfD9KFUD4ol5MGxrCgLVeJSNeLO9O3IUeoQQzxggNKk52UIinYHAcJwjbLe3923S3uBI4+G/9AodGHiOMRvc7AAAAAElFTkSuQmCCOhBHm44CAAA=</string>
  </dict>
</plist>

