<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>HT.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PAOPAO.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>glow.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-fisheye.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>678</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-fishhand2.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-girlhand.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-girleye.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-hand3.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-fishbody.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-girlbody.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>393</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-fishhand1.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dntg-girlbody2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>706</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>srbyloading0.png</string>
			<key>realTextureFileName</key>
			<string>srbyloading0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>